agnathan/n8n-workflows/2024/12/0x6NBHsPXvnimzax.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "DB Schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get table definition": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-10T06:50:09.043Z",
  "id": "0x6NBHsPXvnimzax",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Supabase AI Agent",
  "nodes": [
    {
      "parameters": {
        "content": "**Replace password and username for Supabase**",
        "height": 80,
        "width": 215,
        "color": 3
      },
      "id": "e3a9be7f-60de-486a-9680-a823a30ec0a7",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        1580
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Set up steps\n\n#### Preparation\n1. **Create Accounts**:\n   - [N8N](https://n8n.partnerlinks.io/2hr10zpkki6a): For workflow automation.\n   - [Supabase](https://supabase.com/): For database hosting and management.\n   - [OpenAI](https://openai.com/): For building the conversational AI agent.\n2. **Configure Database Connection**:\n   - Set up a PostgreSQL database in Supabase.\n   - Use appropriate credentials (`username`, `password`, `host`, and `database` name) in your workflow.\n\n#### N8N Workflow\n\nAI agent with tools:\n\n1. **Code Tool**:\n   - Execute SQL queries based on user input.\n2. **Database Schema Tool**:\n   - Retrieve a list of all tables in the database.\n   - Use a predefined SQL query to fetch table definitions, including column names, types, and references.\n3. **Table Definition**:\n   - Retrieve a list of columns with types for one table.",
        "height": 545.9087885077763,
        "width": 280.2462120317618,
        "color": 7
      },
      "id": "393b14dd-a9ac-4676-ae27-1984861a91ca",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent to chat with Supabase/PostgreSQL DB\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nAccessing and analyzing database data often requires SQL expertise or dedicated reports, which can be time-consuming. This workflow empowers users to interact with a database conversationally through an AI-powered agent. It dynamically generates SQL queries based on user requests, streamlining data retrieval and analysis.\n\nThis workflow integrates OpenAI with a Supabase database, enabling users to interact with their data via an AI agent. The agent can:\n- Retrieve records from the database.\n- Extract and analyze JSON data stored in tables.\n- Provide summaries, aggregations, or specific data points based on user queries.\n\n",
        "height": 497.1532689930921,
        "width": 636.2128494576581,
        "color": 7
      },
      "id": "e95e0ec7-a595-4085-92d3-40d23ee606b6",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ... or watch set up video [20 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/14.png)](https://www.youtube.com/watch?v=-GgKzhCNxjk)\n",
        "height": 239.5888196628349,
        "width": 330.5152611046425,
        "color": 7
      },
      "id": "721f626d-42b0-4916-875b-71a5fcac6a40",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        980
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "50641772-1df2-430d-88f5-12691b02324f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1340,
        1060
      ],
      "webhookId": "6e95bc27-99a6-417c-8bf7-2831d7f7a4be",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "search_table",
        "description": "Run custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.",
        "jsCode": "const { Pool } = require('pg');\n\n// Create a connection pool to the PostgreSQL database\nconst pool = new Pool({\n  user: 'postgres.<username>', // Replace with your actual Supabase username\n  host: '<host>', // Replace with your actual Supabase host\n  database: 'postgres', // Replace with your actual Supabase database name\n  password: '<pass>', // Replace with your actual Supabase password\n  port: 5432, // Replace with your PostgreSQL port, typically 5432\n});\n\nasync function runQuery(query) {\n  try {\n    // Execute the dynamic query\n    const result = await pool.query(query);\n\n    // Extract the rows from the result\n    const queryResult = result.rows;\n\n    // Return the result as a stringified JSON\n    return JSON.stringify(queryResult);\n\n  } catch (error) {\n    // Handle any errors during the query execution and return error message as a string\n    return JSON.stringify({ error: error.message });\n  }\n}\n\n// Example call to the function with dynamic query\nconst dynamicQuery = query.sql_query;\n\n// Call the function with the dynamic query\nreturn runQuery(dynamicQuery);",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"sql_query\": \"SELECT * FROM FILES\"\n}"
      },
      "id": "36cf38a1-f393-4bb9-a750-c73e20c612c8",
      "name": "Run SQL query",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        1660,
        1440
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ab8173af-2d1e-46d4-92ad-ba1dfbdb1070",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1460,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get list of all tables in database",
        "operation": "executeQuery",
        "query": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';",
        "options": {}
      },
      "id": "b42a90bb-25ac-4074-81f6-55c6775638f5",
      "name": "DB Schema",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1800,
        1320
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get table definition to find all columns and types.",
        "operation": "executeQuery",
        "query": "SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n",
        "options": {}
      },
      "id": "2c41bac9-c283-4357-93aa-b24b8610205a",
      "name": "Get table definition",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1960,
        1320
      ],
      "typeVersion": 2.5
    },
    {
      "parameters": {
        "content": "**Finetune the prompt of assistant**",
        "height": 80,
        "width": 215
      },
      "id": "4e5ffae8-d68a-45cc-b9aa-a22383a351f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1580,
        940
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are DB assistant. You need to run queries in DB aligned with user requests.\n\nRun custom SQL query to aggregate data and response to user.\n\nFetch all data to analyse it for response if needed.\n"
        }
      },
      "id": "90e76db1-e6c2-4c53-9272-1286f1f07f4e",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1560,
        1060
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-12-10T06:50:09.055Z",
      "createdAt": "2024-12-10T06:50:09.055Z",
      "role": "workflow:owner",
      "workflowId": "0x6NBHsPXvnimzax",
      "projectId": "59BKPVOARQ8LBpzh"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-12-01T14:21:25.482Z",
      "createdAt": "2024-12-01T14:21:25.482Z",
      "id": "SIJWhQ43whBotfGd",
      "name": "Community Examples"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-10T06:50:13.000Z",
  "versionId": "f213dc46-c14e-4e87-81d5-e25f21860086"
}