agnathan/n8n-workflows/2024/12/3fAw6CFzmGTcA6nb.json
{
  "active": true,
  "connections": {
    "Get Recent Articles Webhook": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base Webhook": {
      "main": [
        [
          {
            "node": "NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-13T21:13:11.613Z",
  "id": "3fAw6CFzmGTcA6nb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recent News Article Automator with Human Touchpoints",
  "nodes": [
    {
      "parameters": {
        "person": "vyo9zALtWx",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "ceabcb18-0f72-4562-a8a8-d42124a89e46",
      "name": "LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        980,
        740
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "ieJiSUDPhgzv0dhN",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://financialpost.com/category/real-estate/property-post/feed.xml",
        "options": {
          "ignoreSSL": false
        }
      },
      "id": "c2efadbe-7c46-43e5-944a-30a8fd3b76ad",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        760,
        120
      ]
    },
    {
      "parameters": {
        "content": "## Fetches the Latest on an RSS feed\n",
        "height": 315,
        "width": 540,
        "color": 5
      },
      "id": "5e419657-59d5-4d47-bc79-9ba776a02287",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Post the Article Summary to LinkedIn",
        "height": 269.5,
        "width": 728.9446554602578,
        "color": 5
      },
      "id": "5f92218a-dea4-4793-a09a-f07b281ca63a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Recent News Article Automator Fetches the Latest on an RSS feed\n\n[Link to the Custom GPT](https://chatgpt.com/share/675aed81-aaec-8002-a16b-ae2e84aee944)\n\n- Edit the RSS Feed Link to Change the Category of articles fetched\n- LinkedIn current only posts to Daniel Holmlund's LinkedIn account",
        "height": 306,
        "width": 513,
        "color": 2
      },
      "id": "41f89cce-c050-44b3-a21a-67adc4bd4ac6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Write AI Drafts and Post to My Knowledge Base",
        "height": 254,
        "width": 535,
        "color": 4
      },
      "id": "145bbd80-4521-4b41-b518-31e6ecd71e19",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "wz9ck3ux",
        "projectId": "pco8lygkciohgj9",
        "table": "mync2s9eiz4txu7",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=Title",
              "fieldValue": "={{ $json.body.Title }}"
            },
            {
              "fieldName": "Content",
              "fieldValue": "={{ $json.body.Content }}"
            },
            {
              "fieldName": "Social Media Platform",
              "fieldValue": "LinkedIn"
            },
            {
              "fieldName": "Author",
              "fieldValue": "={{ $json.body.Author }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "AI Draft"
            }
          ]
        }
      },
      "id": "703f2456-8013-4ae4-b64e-b1e9a7bec81d",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        760,
        440
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "path": "4d8d1c47-975d-435f-b4de-5d654d9656b9",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "7a45e86a-c691-4ffd-b5d6-02d27c251105",
      "name": "Get Recent Articles Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        120
      ],
      "webhookId": "4d8d1c47-975d-435f-b4de-5d654d9656b9"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "wz9ck3ux",
        "projectId": "pco8lygkciohgj9",
        "table": "mync2s9eiz4txu7",
        "options": {
          "where": "(Status,eq,Final Draft)"
        }
      },
      "id": "280aa754-b857-4d50-a29a-9d9ff7255d00",
      "name": "NocoDB1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        660,
        740
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f166aa68-13c4-4c17-a54d-c42c2284a62d",
              "name": "=text",
              "value": "={{ $json.Content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "244c5e6a-a221-442f-b364-517623396558",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        740
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db8396a6-bf4a-4ce0-a7f9-0de67a180300",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "90426f1d-e72e-4fdd-8708-d80383a1a04c",
      "name": "Knowledge Base Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        440
      ],
      "webhookId": "db8396a6-bf4a-4ce0-a7f9-0de67a180300"
    },
    {
      "parameters": {},
      "id": "c9d34af5-73bf-48a8-bfc3-d4db11d78334",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        460
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-12T14:06:41.494Z",
      "updatedAt": "2024-12-12T14:06:41.494Z",
      "id": "BgfSOFtP6wzZ2Ju6",
      "name": "Custom GPT"
    },
    {
      "createdAt": "2024-12-05T14:43:34.278Z",
      "updatedAt": "2024-12-05T14:43:34.278Z",
      "id": "YWL3bc4oYdzguiTJ",
      "name": "Production"
    },
    {
      "createdAt": "2024-12-12T14:07:08.085Z",
      "updatedAt": "2024-12-12T14:07:08.085Z",
      "id": "d1FYrk5saECGEima",
      "name": "Social Media"
    },
    {
      "createdAt": "2024-12-12T14:07:00.663Z",
      "updatedAt": "2024-12-12T14:07:00.663Z",
      "id": "lHuZXmJX18YBxQSV",
      "name": "LinkedIn"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-29T00:20:30.000Z",
  "versionId": "78c385ea-77d9-4ddf-b227-5939e463878e"
}