agnathan/n8n-workflows/2024/12/9s1hV5n3X49Tphp9.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "NocoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-12-10T14:08:21.822Z",
  "id": "9s1hV5n3X49Tphp9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AIC Meeting Transcript to NocoDb",
  "nodes": [
    {
      "parameters": {},
      "id": "7588e098-fe08-474f-86fa-2331aca1989c",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        380
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"chatInput\": \"let's start then with real estate syndication so today uh we're going to do a walk through of a particular property and just double- checking again everybody can hear me right yeah okay yes okay all right an can you see my screen now not yet oh here let me go all right I did have to step in uh last minute last week and give a really quick overview of some of the the highlevel perspective of real estate syndication uh so if you haven't seen that um the video is available up on the inside blue group um today what we'regoing to do is take a more targeted look at a particular property and just walk through what the process is like to do a real estate syndication deal um I'm hoping that most of you have heard of real estate syndication it might be a new term to to many of you um but real estate syndication is simply the process of pulling funds together from numerous investors and channeling those funds into a real estate project These funds can be used to acquire property in its entirety and these funds can be used orthese funds can be used as an Equity contribution to a larger project um so it's it's basically the idea of getting together however many investors maybe uh um 30 40 or 50 investors and purchasing an apartment complex and then those investors are owners of the LLC which owns the apartment complex and they share in uh not only the cash flow and not only the the equity upsides and uh but also the tax advantages so they're in every ways um owners of a section of that building so a little bit about me I didshow this slide before and I think many of you know me before I work in the Internet of Things group uh I've got a wonderful family I've been on a mission over the last two years two and a half years actually to convert my portfolio over to real estate um and I've done a lot of Education over the last two years in order to make that happen and joined quite a few networking groups across the United States in order to build up the network to make that happen um but in particular I wanted to get intoInvestments where I have uh cash flow projections over a 3 to 5e time period and um it's a I guess it's a timely thing so that was my goal is to have some visibility into the future outlook of uh my investments and to have direct ownership Within physical assets uh that are um cash flowing so the quick disclaimer we are strictly SEC compliant company we do not advertise any current properties that we are working on uh the SEC Mo most of these syndications fall under the SEC regulations for um uh inthe uh the 2012 uh jobs and tax um the jobs act uh in regulation 506 B and regulation 506b says that we cannot generally advertise any properties that we are currently look we are currently um working on so all the information that is in here is on past properties that are no longer opportunities for people to be involved in we do not make any projections to to anyone who does not have a pre-existing business relationship with us uh so if you do want to talk about the current projects that we have available uh come talk tous and we'll have a conversation about goals and see if it's a good fit second part of this is that the views represented here do not reflect the views of Intel this is a independent presentation and Intel is in no way responsible for the content all right so over the past two years um my company which is named Alan Capital has partnered with other companies uh that are in this business in order to acquire a couple of different properties that are starting mainly in the Houston area and we're going to focus in on this property righthere Camino Del Soul which is 122 units uh it's an interesting case steady because it's got um oh we've just it's it's a good case steady they're all good case steadies um but this is a I'll I'll go into the details of it um the value ad feel free to stop me at any time it ask questions at any time I know I'm going to be covering a lot of information I've also taken a lot of pains here to actually pull up our our actual investor presentation which apparently is sitting at the end right now okay our actual investorpresentation that we sent out to investors who were investing in this particular property including you know our executive summary and investment highlights I'll show those to you in just a moment so the value ad business model this this is a mo a business model where you first of all do Market intelligence and evaluation and in order to determine which markets in the United States you want to be involved in so for instance um it's well known that on the East Coast the West Coast there are a lot of appreciation based markets wherethe uh value of the asset is not necessarily tied up in the month-to-month cash flow that you can generate but it's tied up in the value of the asset and you realize those gains on a refinance or on a disposition or sale um so we are looking specifically for cash flowing properties which tend to be in Central Markets so uh in markets where populations are are moving to and I'll I'll actually get to that on slide 10 so the first step is Market intelligence and evaluation second step is building a team that's on the groundas well as uh has the right components in place in order to do the acquisition the uh third step is doing a remote analysis Gathering all the facts and information that you can about area about the property about the uh the trailing 12 which is the previous 12 months of of uh profit loss statements as well as the rent roll and doing a lease audit and and Market survey so things that you can do remotely and I'll actually go through and show you documents uh that that go through in detail what those those looklike exactly and uh and then the second part of this is making a a offer on the property getting that offer accepted and once you get that offer accepted going into a due diligence phase where your entire team will fly out to the property and um perform physical inspections and um next you have creating the partner package or The Limited partner investment package so once you've created your investment thesis you have your budget together you have all of the information that you need in order topresent to investors you'll create uh videos and presentations that contain all the information that an investor would need in order to evaluate the deal um next step is acquisition which usually happens uh 30 to 60 days after the purchase and sales agreement and after the due diligence is performed and the the loan is acquired so this this acquisition is usually fairly straightforward it involves you know kind of like acquiring a house you you go into a closing and you have a lot of documents to sign um money is wired tocertain bank accounts and the property is closed on and of course uh registered at the the county uh then there's the value ad enhancement state so this is the point at which you are actually executing on your business model every apartment that you buy is an independent business and it has a cash flow that's generated an expense statement that's generated and a net operating income the the goal of a value add business uh model is to increase the net operating income decrease the expenses to make a betterenvironment there by improving the property or improving the management operations of the property and uh using that in order to generate a return for the investors who have invested um so that that is the entire value ad business model and then finally of course after the renovations have been completed and there have been a couple of months of stabilized income profit loss statements that can be evaluated uh you usually you have to have a few months so that the bank can see that you've built up uh a new levelof value and that you're operating at a higher level of net operating income and if you can show that you've have a a better net operating income for a certain number of months it's usually 6 months or more the bank will go through the um refinancing process with you and you can usually um refinance and return cash to the investors or consider selling it so that's a highlevel overview of each of the steps are there any questions here before I dive into each one and show documents okay all rightokay so first of all Market intelligence oh actually let me show you a picture of the property so this is the property this is communo to Soul Apartments it's in Houston Texas it's actually uh in the Southeast corner of Houston Texas down here in the Pasadena area of Houston uh this area is very well known for a lot of the oil industry which exists in in this area it is a more Blue Collar center of town however there is a quite a bit of population growth as well as uh the medium household income hasbeen growing in this area people have been moving to here for jobs in addition to the oil industry it uh it's got quite a bit of Aerospace and quite a bit of medical industry as well as a variety of other Diversified economic jobs and so it is fairly uh it's got a good job diversity and a growing population which are two of the things that we want to see when we're looking at an area to consider for investment so four things to look at really quickly are the population growth uh one of the rules of thumbs that weuse in order to qualify an area is that if a area has more than 250 people in between 250,000 people and 1 million people it should have at least 20% population growth between 2000 and 2019 and the reason for that is is that it's you know it's easier to fill your your vacancies when there's a lot of population growth so the more population growth there is the easier it's going to be for you to hit your business objectives in um in rent growth medium household income so we look for areas that are 3 uh31.5% uh growth between 2000 and 2019 medium home values we look for a 40% growth in medium home values and these are rules of thumb generally you want to see upward trends that are moving at certain rates and a lot of the cities in the middle of the country and in the Sun Belt are hitting these uh we're seeing a lot of population growth along the Sun Belt particularly in Florida which we're actively looking at right now um as well as Texas in fact I think I have my Florida um marketing memoranda them uphere and then crime crime should be falling in these cities we do not want to invest in areas where crime is high people like to feel safe in their apartments and um being able to provide a safe place for people is a high priority um in addition to being able to feel safe just knowing that uh you have a stable stable situation there now you you you can invest in areas that are on the trend towards lower crime um there is uh particularly for instance we've looked at Memphis quite a bit and Memphis it has a higher crime rate inthe majority of it however the the North and Eastern sections of the city are gentrifying and they are their crime rates are dropping while other statistics such as median home value and medium household income are increasing so there are there are areas that are going through Transitions and if you're looking for Workforce housing that is on the rise areas like that can be promising but you do have to be very careful about knowing the area in particular the um the partner that we partnered with on the acquisition ofthis particular Property Memphis Millington Oaks Apartments in Memphis uh actually owns over 12200 properties 1,200 units in this particular area and so we had a high level of confidence that um the numbers that we were given uh were correct and they could be verified uh through auditing of financial statements of their other properties all right uh I'll go over a little bit of this fairly quickly so just knowing the number of units that are coming into the market how quickly those units are beingrented out this is current information for Southeast Houston um uh pulled from co-star which is a very large data service that is usually only available to Brokers and to to people who pay for it um I emailed my broker uh yesterday and received this this morning so this is upto-date information about the Houston Southeast area vacancy rates tend to be at about 10.4% that's actually a little higher than than a lot of areas um some of the areas in Florida that we're looking out right now are have vacancy rates of of or occupancyrates rather of 94% um so just under 90 is uh it is fairly High when we look at the underwriting this this is our underwriting spreadsheet I'll get to it in a moment we actually underwrote our uh Financial projections assuming an 87% vac occupancy rate um and so doing conservative underwriting and knowing exactly what your rates are are very key in order to make your projections we of course also want to know the the absorption and the vacancy rates over time as well as Market rates broken down by how many bedrooms are inthe property so this again is Southeast Houston and the the other thing that we want to keep an eye on is the number of construction projects that are going on currently um I was recently in Denver and Denver right now is in a situation where they have quite a bit of over construction that's going on everywhere you look there are new buildings going up and so it's going to be hard as a value um business to come in and improve an existing property when people that are renting have the option of going to abrand new property and so being able to keep an eye on the rates of new construction is uh is key for knowing whether you want to go into an area or not the other thing that new construction can tell you is that when you're looking at it in terms of a price per foot square foot um there is a certain point at which the price per square foot gets high enough that value ad business models don't make sense anymore um for instance in Portland uh I have some friends the the Dennis brothers who are construction workersand in Portland prices are high enough that value add business models don't tend to work and return a good investor return so what they actually do is they they find areas that are zoned for multif family but only have a single family home on them and they uh they purchase it they tear down the home and they put up 12 plexes on the same areas um and it takes about a year and a half to two years in order to uh go through all the City Planning and Zoning and getting the proper permits and then doing the construction and finallyleasing it up so it's it's a it's a it's an involved process but once the price per square foot gets to a certain range uh it's worth doing so we knew that that Houston was a great area and to be honest our our story really started with the people that we met so we met a team that was down in Houston uh the team was three pillars Capital uh and three pillars Capital had been operating exclusively in Houston uh they currently have about $100 million in assets uh at the time I think they only had around 50 uh thiswas three years ago um but we could see that they had a good track record this was the seventh building they had purchased in the Houston area Cino Del Soul and so we entered into a partnership with them uh Lucas fra here is one of the key people on our team he is a involved in broker relations so every day he's out there talking to Brokers uh taking them to Coffee you attending their kids sporting events getting to know them really well uh so that when they have a building to sell uh they think of him and so hebrings us the building and uh if it's something that is worth underwriting financially we'll take a look at it and then there's Josh Welch Josh Welch is the founder of three pillars Capital he's involved uh he comes from a a a finance and business background he's been very involved in the um in the investment side and obtaining investor funds for the purchases George Goyle George Goyle is a great business guy uh he founded his own property uh management and renovation company called Greenline management and he's also a umpartner at three pillars capital and so he manages all of their um Renovations and he managed the renovations he is managing the renovations for Cino Del Soul as of this month we're 46% of the way through the renovations that are there um and our projection was to be at 39 so we're slightly ahead of schedule and um so one of the advantages of having a person on the board or a partner that owns their own construction and renovation group is that they're highly vertically aligned with what we're doing and we have access to youknow the the resources of that company um and they if they're involved in it they of course are there and coordinating and making sure that the job is getting done so he's our asset manager uh Fernando zampier is also involved with Greenline management he's our Pro coordinator or project manager uh he does a great job with a lot of the details that are uh that you have to go through I've got a I don't have it open right now but we've got a a 600 Point uh due diligence spreadsheet that we go through and check for each of theapartments and uh he does a really good job at making sure that each of those points gets ticked off and then I involved in a lot of uh the legal talks with the lawyers the insurance brokers the other professionals that are there as well as doing investor relations and uh being a part of the asset management calls uh which are happening on a monthly Cadence now that the property's been acquired and is under renovation so that's the team really quickly um three pillars capital is an asset management group they're based inTexas they invest in class B and C when we when we actually found this property uh there was around 4 months of back and forth negoti iation so it wasn't necessarily one of the quicker processes um I've seen a lot longer 4 months is a little longer than it often is uh but the the seller had had not disclosed that uh there were some capex expenditures some some uh heaters and broken units that needed to be replaced so we needed to come in with a little more Capital expenditures than we were initially thinking and it cause someback and forth negotiations um three pillars Capital targets estimate opportunities that are estimated to to have an annual 10% cash on cash return to investors so that was the projection for this um the their previous seven buildings and a IR which is the internal rate of return internal rate of return is a metric which is used within apartment buildings and what it is is it's a it's a discounted cash flow value which simply means that to the investor every distribution that they get you calculate the time money value of thatdistribution and sum them all up in order to get an overall time money value which is your internal rate of return and so this is roughly equivalent to a average annual return on the investment uh however it's very precisely calibrated to uh match each distribution that's being given out uh so they have a proven track record of increasing their noi their occupancy levels have been exceeding 90% across stabilized properties and they have their own uh Green Line apartment management company that is verticallyintegrated into their strategy so they don't Outsource it to third parties and they can save on operational efficiencies so at this point we started doing our due diligence and so nobody has met physically in the real space at this point we're all talking about this particular property and we're talking to the broker in particular and the broker will send us information excuse me so the goal is to understand whether we can reposition this from a cclass to a C+ property once we decide to start doing the due diligence and the propertyuh is together the the the the the team is together we're going to start on a business thesis so we we look at the property we start looking at the pro at the financials and do we understand is this a property that we can improve is it not a property that we can improve is it being offered at a fair price what are the large you know expenditures that will me need to be uh completed in order to bring this asset to a a spot where it is providing a good investor return so the strategy the business planis to reposition the class from a Class C to a C+ property which means Workforce property which has been up upgraded and uh has been um newly renovated so that it's it stands out within the current market through an extensive renovation program focused on upgrading the property's Interiors to push the asset level to a a level slightly above that of the comparable properties in the submarket our strategy and underwriting assumptions are that the asset is repositioned through upgrades offering residents higher quality units thancompetitors at a more attractive price point with our inous property management and renewed attractive market dynamics we will be able to push rent growth on the renovated and unrenovated units over the year so let let me kind of show you what we look at in order to make that investment thesis and this is all information that that uh we got from the broker so for instance and um just to show you here the I'm actually linking to uh a property that is in Memphis Tennessee for each of these documentshere because the broker sent us documents that were very poorly formatted and I wanted to show you ones that are nicer formatted so here's an example of what a T12 will look like it is you know a profit loss statement here are the different expenses that take place on a monthly basis so you have your utilities your trash your legal services your contract Services a phone and internet Lawn Care Etc going down to also your management fee I've seen some really strange things with management fees we had we had one person uh whoowned the management company as well as a particular apartment and he was paying himself a 20% management fee whereas the industry average is closer to four to 5% um and he was doing that because he wanted his company to have a better profit margin I guess and so he was one of his companies was paying another one of his companies but it meant that the expense statement that we looked at looked really strange because the expenses in this category were way off um usually you want to get at least the previous 12 months uh if you can getmore than that that's better in this case they sent us four years worth of uh the expense statement here the rent rle so the rent rle is really important for knowing specifically when people started their leases so you'll you'll look at the leases and um this this is very important for uh your renovation uh timeline so for instance um we were looking at a property in Georgia once um called the the vault at Statesboro and this was a property that was right next to a university uh in Georgia and so it was student housingprimarily and one of the things that we noticed was that the the end of leases all occurred just as summer began so they and and then when we looked at the income statement sure enough income is good all the way till June and then suddenly June July and August the income went to 30% of what the other months were so just knowing when people are leaving and and so what that means in that case is that well during the summer months we're going to have a very extensive renovation program doing as many units as we can at one time inorder to finish them during that time and have them available to be leased up by the time the school year starts now that's that's specific student housing but uh knowing when your your uh leases are ending is going to be key for laying out your renovation schedule and the asset manager is responsible for that also knowing what payments and deposits are on hand uh people are used to you know putting deposits for pets or um one of the things that's common now also is is called a rubs program whichis a uh ratio utility buyback um system basically a rubs program a building that does not have a rubs program uh the price of water and electricity is often bundled with the rent whereas if you have a rubs program it means that your apartments have individual metering so that you can um reduce your rent but charge back the exact amount of electricity water and gas that the apartment um person is using so that they're paying their individual share rather than a collect Ed group share and it's it's often a good thing because uhyou know tenants will report leaks faster um they will uh tend to use less water less electricity uh it it's um it's good for the overall building just in terms of keeping prices and expenses down and keeping um utility usage down so the annual income and Report statements they often look like this as well o that is the wrong link my apologies here we go so they'll look something like this generated by a accounting program you can go through and look see exactly what the expenses are on a particular placeand then make a calculation as to whether this is something that could be improved or uh the expenses reduced the sellers memorandum I'm going to go through this a little quicker sellers memorandum is a document that the broker sends out that is more or less a sales document it uh here's here's an example of one yeah it looks like this um often times if you see a really beautiful sellers memorandum it's a sign that hey maybe maybe you're not getting the best price on this property if you've got anoff-market deal often it won't come with the sellers memorandum uh so you'll have to do a little bit of more individual work on understanding the situation of the building but at the same time you're negotiating often times directly with the seller uh rental comparison report so if there are other buildings in the area what are they renting at p in terms of um dollar per square foot and then also the market summary so once this is done once you've got the financial audit underway you perform your underwritingand here is our underwriting document uh it was 122 units 87% occupancy we can go through and show all the rental income that's here um this is the quick analysis tab so we do a quick analysis that basically uh lets us look at the income and expenses and then decide if this is a property we want to pursue or not uh we actually fill out probably 30 to 40 of these for every property that we want to pursue so it's it's something that's meant to be very quick um the other thing is is that we'll put inassumptions for closing costs over here including flood insurance what the acquisition fees are loan guarantees uh the inspection reports the rehab budget this rehab budget right here is going to be improved upon uh once we actually fly to the building so once underwriting let me show you a little bit more of the underwriting here the units um once you have your quick analysis done you can go into a more detailed level analysis where you actually put in the unit types that you have what the what the uh square footageis and the total collections for each type is and then you have your your current rent and your current average uh price per square foot and then your business plan is to move this column here over to this column here so you want to you want to be able to to raise the net operating income either through um you know improvements to the property that allow you to charge a better rent or reductions of the expenses and then here is where you can perform your sensitivity analysis so you make assumptions about actually theassumptions here were this originally uh what the average rent increase is going to be so we're showing a 3% increase in rent 3% increase in expenses uh the what the one-year rehab physical vacancy will be economic vacancy this is a really important number economic vacancy is different than physical vacancy in that in a given market for a given type of unit say like a two-bedroom three b or two three-bedroom two B um there's going to be a certain market price let's say it's $800 a month if you're only charging$700 a month then you will have $100 of economic vacancy so meaning your rents are below Market by a certain percentage um we can also change the electricity gas and water water uh billback programs as well as the property taxes which actually are increasing at a fairly uh large rate right now in in Texas Texas is known as having no income tax but fairly High property tax once you get those inputs in you can make forecasts on a monthly basis I don't know if you can see this or not but it's going through andcreating the gross potential rent the physical vacancy the economic vacancy see so you're you're coming up with your dollar amount that if everything worked out perfectly this is what you'd be getting and then you subtract out your your economic vacancy and your physical vacancy assumptions you add in uh income from your laundry and from your vending machine from uh rental deposits that are being put in and water and gas and and trash reimbursement programs to come up with your effective gross income permonth and then you project that over 5 years or more once you have that analysis done you can summarize it in terms of an annual cash flow here and a return summary so this is the part that we often include inside the investor package so when we decide we want to move forward with a investment and we've got a signed purchase and sales agreement uh we'll come to the next step which is to create a in investor deck that's actually what this is that shows all the details of this particular property so in thisparticular case we were projecting that we were going to get a 19% irr over 5 years and that we'd pay 9 to 10% cash onh return which simply means that um if you if you put you know $100 in to the property then you're going to be paid $9 to $10 in terms of of uh an annual rate coming from rental Collections and then the equity multiple here this is a measurement that says over the entire life period of the the the property if you put $1 in how much can you expect to take out at the disposition or sales so when theproperty is sold how much do you how what is the projection for how much that $1 will be worth uh the investment highlights are that it was directly held in LLC that we were able to swiftly lock it up we locked it up at $58,000 per unit which was below the uh I believe it was 7 67,000 a unit at Market at the time so we got a great price on it and it was in a geographically attractive area with the market rents being 15 to 20% below Market which meant that we had an opportunity to go in there to make someimprovements uh George was George uh was really good at sourcing materials we got uh granite countertops at a at a great price we so we were able to come in and install graner countertops and and update the units let me actually show you what that looked like here's here's the before and after of the units and this this was actually at a a nearby property that was owned by them that was in the same Market but this is basically the same materials um this is what it looked like before and this is what it looked likeafter okay so just to give a quick property overview uh it was purchased for $8.9 million there were 15 buildings included 122 units and we had uh 91,000 rentable Square ft as well as a fairly large amount of land it was built in 1969 water boilers uh the construction is wood and steel joist and it was one and two bedrooms all right the renovation budget so let me jump back to my presentation here and I know we're getting towards the end so at once we had a purchase and sales agreement signed the team flew tothe property so I came over from Portland uh a lot of the team lived in Houston and so they drove over uh and then uh we also had Stefan who was part of the team flying from uh Michigan as well and so we all converged on the property and we started to go through the physical due diligence checklist and that that is a a property condition report an environmental assessment and an appraisal as well as a green report the green report's really interesting because there are a lot of subsidies for putting in green um Technologies and soyou can save energy and put in solar put in different types of energy saving appliances and um so this is a report on what can be done on the units to upgrade them to energy efficient uh uh standards and then what sort of cost it'll be in order to put those in and what sort of savings we can see over the LA run from from different uh subsidy programs okay and then of course once we have a good idea of what the renovation budget is going to be that's when you negotiate with your loan officer and ourloan officer is Brandy Shotwell she is she is awesome um she gives us access to uh co-star information on the particular areas that we're looking at and then negotiating with the loan officer is a little different than negotiating a residential property because the business the bank really considers thems a business partner and they should they have a huge stake in in the business so the the terms are much more negotiable usually um one of the things that you often negotiate is how many years ofinterest only payments can you get so it's incredibly important especially during the renovation period which is often the first two years of an acquisition that cash flow is cash flow is in demand because it's being used by the the the renovation crew uh but at the same time you want to keep your investors happy so making sure that you're under writing can forecast that you have enough cash flow to do that is critical and one of the things that can make a huge difference there is having interest only payments for one ortwo years so if you can get an interest only payment during the time that you're doing the renovation that frees up cash flow uh which can be used either as you know capes expenditures so you you'll you'll set aside a certain amount per unit or it can be used uh once once are renovated and rented out at a higher rate to provide um an investor return so having a a really strong relationship with a broker is key uh making sure that prepayment penalties so commercial loans tend to be have very strict prepaymentpenalties and this is one of the things that you need to understand going into the property um if you intend to hold it for 5 years then you don't necessarily want to get a a 10-year loan that that has a stiff prepayment penalty U commercial loans are usually anywhere from 5 to 10 years uh you usually do not see 30-year fixed loans in the commercial space and they also come with prepayment penalties or yield maintenance which simply means that um if you are paying it off early there is a yield maintenance payment that uh isit's basically the bank guaranteeing that they're getting the interest that they thought they would be getting and that you're not um uh denying them the ability to get that interest by paying the loan off early all right step four is then uh once we have a investment thesis we know what our capex expenditures are going to be we know what the renovation expenditures are going to be and we know what uh the price is that we are paying for our money over a certain time period we create a uh investor commitmentprocess and so before the property is found the team needs to establish relations with people that are interested in investing as limited partners everybody on the team is responsible for doing that uh we have a conversation with them about their goals and be sure to educate them and answer any questions about the process and the SEC actually requires this uh so these these Investments are not allowed to be generally advertised meaning I can't take out a Facebook ad or you know put the building on a bus bench uh they haveto be talked about only to people that we have pre-existing relationships with so uh the the I requires that we document the relationship and that we keep track of whether the people that are involved in the relationship are accredited investors or not okay so once once we we talk to you have a conversation just about what are your goals what are our goals are we a fit for each other uh we make that determination and then once a property is identified so those those people were were always talking to people werealways uh interested in in connecting with potential Partners once we actually find a property which my personal goal is to find one each quarter this year um but once we do find a property and it's it's getting more difficult that the current environment there are um there's more money chasing properties than there are prop good properties available that give good return burs so it's important to do your underwriting and to know that you're going to have a good deal before bringing it to an investor after that property isidentified though you submit a letter of intent to the seller's broker and the seller receives the letters of intent and a letter of intent is just a non-binding bid on the property so you come to them and say hey I'm willing to pay you know 8.1 million for this property somebody else comes and says I'm willing to pay 8.2 um and one of the one of the interesting things about commercial negotiations is is for the seller it's often much more important to know that the company that is bidding is able toactually raise the money and close the deal so a lot of times uh so invest your your your um if I go back up here and where did I put it your your reputation in the market is key because you will very very quickly become known for whether you are able to close on a deal or not and that seller will often know you by name that's one of the reasons why uh you know my group we we are we've joined the think multif Family Group which is you can see more about them here at think multif family.com um but it's a group of abouta hundred investors that are one of the reasons I really like the group is they're a very family oriented group um and all the people there are personally actually interested in each other rather than competing with each other so it's it's a it's a pleasant group to be in but it's also very serious group in terms of uh finding and acquiring multif family Pro properties uh the founder there mark Kenny um he's got a great story um about how he was um about his family and if you're interested I'll letyou go find it here oh there they are um so oh the reason why we're aligned with them is because as a group this particular group has around 6,500 doors uh or units and uh we have a really good reputation within the market so Brokers actually know think multif family by name and Mark Kenny usually particularly by name so if he's the sponsor on your deal they'll tend to take you a lot more seriously as to whether you can close or not um and you want to be in a position where you're not offering the highestprice but you're offering the best guarantee that you'll close um that's that's where you want to be because that's where you're going to be able to maximize your returns to your investors and to make sure that you're you're getting a good deal on the property um and uh negotiating well so the investor package is created which is that slide deck that I was showing you earlier it's sent out to all the people that are interested in potentially being part of the deal uh then the members of the generalpartnership will contact the partners and just uh say hey did you get the information are you interested or are you not and we uh start filling up what's called the capital stack here's a couple of pictures of the property by the way playground and eating area and and this is what the these are actual pictures of the property right now so these are renovated units uh that are in the property currently uh so the capital stack what we're doing right here is that we're calling people in the limited partnership and securinginvestor commitments so this part here is the equity of the capital stack and the general partnership will often have 20% of the equity and the the limited partners will often take 80% I'm seeing more 7030 deals that are out there now what time is it oh we're getting late okay and then of course the bank debt finances about 75% of it and so in between the time that we get an accepted purchase and sales and the closing date which is often 30 45 or 60 days uh it's the responsibility of the general partnership to raise fundsfrom the limited partnership and to walk them through and show them the investor deck and ask them if they're interested or not so once that is done the money is uh documents are signed at closing money is wired at closing and the after closing the limited partners receive updates from the general partnership about the status of the project and they collect monthly distributions so they are not involved in the day-to-day decision- making at all um and they don't have to deal with tenants toilets ortermites all right if you'd like to here's here's a quick summary of what communo Del Soul looked like here's the lobby area which I really like the yellow in it and the outside of the office um the kitchens playground so we have a a summary here the different stats about the project and once it's closed the renovation to begin there's usually a 30-day handing over keys process where um you negotiate access and the previous sellers are also negotiated and on premise as well after that 30-day periodyou um you transition over and start renovating the units So currently this this closed last year uh we're currently 46% of the way through our Renovations and we've made a couple of uh quarterly distributions and uh the project is on track for uh being completed in 24 to 30 months in terms of renovation and then you have the stabilization period where you prove you have a uh a new level of net operating income to a bank and then you refinance or sell and that is how really quickly a real estate syndicationWorks uh if you are curious about more information about real estate syndications I do have a podcast which comes out twice a week although um and it comes out on on Tuesdays and Saturdays uh and the idea of this is that we go and talk to different Professionals in different Metro areas and interview them on their opinions on the current market so we talked to SEC attorneys and to investors and property managers and um it's a great way for um me personally to build a network but it's also a great way for the people thatlisten to build a network so any questions and I know I went through a lot I hope I answered some of the basic questions about what a real estate syndication is and how it comes together uh you're you're always free to email me if you have questions you don't want to ask now but if you do have questions you want to ask now feel free and what time is it two minutes there are a couple of them in the comments oh okay yeah I haven't been able to see the comments oh there are um I may let's see what do you dothat uh what you can do is that even if you want to make edits on the Meetup okay that's that's about the Meetup how did you settle on the specific metric rates when you're looking at the area so the specific metric rates are often uh rates that we get by look talking to the seller Brokers that are in the area uh you need to understand that particular area so uh we we subscribe to yardi which is a data service that allows us to uh pull data about particular Metro areas there's around uh I believe 407 Metro areas thatare classified in the United States and we work with our brokers in order to get those uh a lot of it is you know rule rule of thumb so um the when you're looking at the metrics it's important to have metrics but more important than the metrics is the story that you can tell so say for instance in a student the student housing that we were looking at in Georgia um we didn't we ended up bidding on that and we did not end up getting that particular um property the purchase and sales agreement was signedto somebody else and it actually turned out to be a really big lesson to us because two of our partners um not me cuz I refused to do it but two of the partners decided to fly out to the property and to tour the property and um we had a letter of intent but we didn't have assigned sales and purchase and we thought we were going to get it we thought we were going to get it we thought we were going to get it and the seller kept stalling and stalling and so two of the members ended up flying out there touring the property and whilethey and they came from Seattle to Georgia and Philadelphia to Georgia so they they went long ways and while they were touring the property the seller signed the purchase and sales with somebody else um so going back to that that particular property um the leases were um 10 month leases and in a lot of the area 12-month leases had become the standard U and there were several other improvements that we can make but knowing the metrics is important but knowing how you're going to improve is equally importantall right I will go through and answer the rest of these offline uh next week we have I believe Stu who is from the uh Colombia agricultural Investment Group he buys uh Farmland in the Columbia Valley and uh he's going to tell us how he goes about doing that and uh what sort of real estate investment techniques he uses to do that so I hope you all have a wonderful safe Corona free weekend and um we will see you next week thank you\"\n}",
        "options": {}
      },
      "id": "72132503-0087-41c5-bc3a-c63769c46b67",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        380
      ]
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "d23524ba-1a48-4b64-9ffe-2a02d542c57c",
      "name": "NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1680,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w0dgkv8w",
        "projectId": "pcgglqm4cq36ccb",
        "table": "mfbn3165o2melnc",
        "id": "6"
      },
      "id": "8d94d6c4-4aa8-4e1c-a99d-71f8a1a0c38a",
      "name": "NocoDB1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        800,
        380
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_jZYUpT7KEDp2WQyo6y25TLB9",
          "mode": "list",
          "cachedResultName": "AIC Hot Take Generator"
        },
        "options": {}
      },
      "id": "073edc66-4d61-4750-9b73-5224431da75c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1120,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\n\nreturn $input.all();"
      },
      "id": "950bb1fb-02b3-4b93-bc46-c7adcf1bff69",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        380
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-12-10T14:08:21.837Z",
      "updatedAt": "2024-12-10T14:08:21.837Z",
      "role": "workflow:owner",
      "workflowId": "9s1hV5n3X49Tphp9",
      "projectId": "59BKPVOARQ8LBpzh"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-01T14:23:56.869Z",
      "updatedAt": "2024-12-01T14:23:56.869Z",
      "id": "Paq9K6w31GZ583JD",
      "name": "My Drafts"
    },
    {
      "createdAt": "2024-12-07T06:11:13.857Z",
      "updatedAt": "2024-12-07T06:11:13.857Z",
      "id": "bt1t5V5KUyuErc7s",
      "name": "AIC Speaker Workflow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-10T20:26:03.000Z",
  "versionId": "b35f2ffd-062e-4a91-bcda-894e7304f369"
}