agnathan/n8n-workflows/2024/12/makI0MhrZQN7D8ej.json
{
  "active": false,
  "connections": {
    "Fetch Latest Videos": {
      "main": [
        [
          {
            "node": "Generate Post for X with ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Fetch Latest Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post for X with ChatGPT": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to X": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every Morning at 9am": {
      "main": [
        [
          {
            "node": "Fetch Latest Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-01T04:45:25.962Z",
  "id": "makI0MhrZQN7D8ej",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Message X about the Latest YouTube Video",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "e12679b1-c042-4e3d-b361-fab69c96eb8a",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        1380,
        580
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "gnP4W43zIPbVci3B",
          "name": "AltInvestClub"
        }
      }
    },
    {
      "parameters": {
        "content": "Enter your YouTube Channel ID in the \"Channel ID\" field of this node. You can find your [Channel ID here](https://youtube.com/account_advanced).",
        "height": 308.7901234567902,
        "width": 221.82716049382665,
        "color": 5
      },
      "id": "73e51986-2048-468b-8bcf-d0a5f4fb0a39",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 1,
        "filters": {
          "channelId": "UCkuo6XeC3PcV4ZmYuaZq3dg"
        },
        "options": {
          "order": "date"
        }
      },
      "id": "30ba3e0a-a003-4d21-8e42-f3be7924b386",
      "name": "Fetch Latest Videos",
      "type": "n8n-nodes-base.youTube",
      "position": [
        780,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bHp86RLjwfnfe0vV",
          "name": "GYBWAI YouTube account"
        }
      }
    },
    {
      "parameters": {},
      "id": "897ffc14-9079-46d1-8c31-a56f6642cc64",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        780
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Write an engaging post about my latest YouTube video for X (Twitter) of no more than 400 characters in length. Link to the video at https://youtu.be/{{ $json.id.videoId }} use this title and description:  {{ $json.snippet.title }}  {{ $json.snippet.description }}\n\nEnd with an engaging question. \nInclude relavant hashtags\n\n\nThe video link is formatted as such: https://youtu.be/{{ $json.id.videoId }}\nDo not use the words \"Check out\" or \"lastest video\"\nIf you do not have a videoId then don't write a link."
            }
          ]
        },
        "options": {}
      },
      "id": "2b56f5e6-6ed3-4f3a-8d4d-c2455e470d4f",
      "name": "Generate Post for X with ChatGPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1020,
        580
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "![Grow Your Business With AI Logo](https://aicf-email-resources.s3.us-west-2.amazonaws.com/logo5.jpg)\n",
        "height": 269.1476596638097,
        "width": 258.6301097938669
      },
      "id": "bb8b120c-e6e6-4cc5-bad2-84165b78e6f4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        780
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C087B6YF4JG",
          "mode": "list",
          "cachedResultName": "automations"
        },
        "text": "={{$workflow.name}}: {{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1820,
        580
      ],
      "id": "ef0a8d3f-fe15-4953-ad77-78467ff0d07d",
      "name": "Slack",
      "webhookId": "f2b612b4-2012-4e77-b5b9-b3843ab36e4c",
      "credentials": {
        "slackApi": {
          "id": "sqZE51AkSy0bWsNt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": "={{ Math.floor(Math.random() * 42) + 2; }}"
            }
          ]
        }
      },
      "id": "01216625-423b-46e5-9d84-15c1128e573f",
      "name": "Every Morning at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        520,
        580
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "tableId": "xmessages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "account",
              "fieldValue": "AltInvestClub"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        580
      ],
      "id": "31761f43-5b6f-44e4-9b7a-cfbdcd535fd9",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "IJvAp1W6mQXyy8TB",
          "name": "Content"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Every Morning at 9am": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-01-03T02:52:23.283Z",
      "updatedAt": "2025-01-03T02:52:23.283Z",
      "id": "PglCKMwU2y46uH2u",
      "name": "X"
    },
    {
      "createdAt": "2024-12-05T14:43:34.278Z",
      "updatedAt": "2024-12-05T14:43:34.278Z",
      "id": "YWL3bc4oYdzguiTJ",
      "name": "Production"
    },
    {
      "createdAt": "2024-12-12T14:07:08.085Z",
      "updatedAt": "2024-12-12T14:07:08.085Z",
      "id": "d1FYrk5saECGEima",
      "name": "Social Media"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-29T00:34:28.000Z",
  "versionId": "1ad9efa8-ba76-4272-83ef-a9b765d5e5c6"
}