agnathan/n8n-workflows/2024/12/makI0MhrZQN7D8ej.json
{
  "active": false,
  "connections": {
    "Check Every 30 Min": {
      "main": [
        [
          {
            "node": "Fetch Latest Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Latest Videos": {
      "main": [
        [
          {
            "node": "Generate Post for X with ChatGPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Fetch Latest Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Post for X with ChatGPT": {
      "main": [
        [
          {
            "node": "Post to X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-01T04:45:25.962Z",
  "id": "makI0MhrZQN7D8ej",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Youtube Videos to Twitter",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "e12679b1-c042-4e3d-b361-fab69c96eb8a",
      "name": "Post to X",
      "type": "n8n-nodes-base.twitter",
      "position": [
        1380,
        580
      ],
      "typeVersion": 2,
      "credentials": {
        "twitterOAuth2Api": {
          "id": "gnP4W43zIPbVci3B",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "content": "Enter your YouTube Channel ID in the \"Channel ID\" field of this node. You can find your [Channel ID here](https://youtube.com/account_advanced).",
        "height": 308.7901234567902,
        "width": 221.82716049382665,
        "color": 5
      },
      "id": "73e51986-2048-468b-8bcf-d0a5f4fb0a39",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 1,
        "filters": {
          "channelId": "UCkuo6XeC3PcV4ZmYuaZq3dg"
        },
        "options": {
          "order": "date"
        }
      },
      "id": "30ba3e0a-a003-4d21-8e42-f3be7924b386",
      "name": "Fetch Latest Videos",
      "type": "n8n-nodes-base.youTube",
      "position": [
        780,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "bHp86RLjwfnfe0vV",
          "name": "GYBWAI YouTube account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "01216625-423b-46e5-9d84-15c1128e573f",
      "name": "Check Every 30 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        520,
        580
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "897ffc14-9079-46d1-8c31-a56f6642cc64",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        520,
        780
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-3.5-turbo",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Write an engaging post about my latest YouTube video for X (Twitter) of no more than 140 characters in length. Link to the video at https://youtu.be/{{ $json.id.videoId }} use this title and description:  {{ $json.snippet.title }}  {{ $json.snippet.description }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2b56f5e6-6ed3-4f3a-8d4d-c2455e470d4f",
      "name": "Generate Post for X with ChatGPT",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1020,
        580
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "![Grow Your Business With AI Logo](https://aicf-email-resources.s3.us-west-2.amazonaws.com/logo5.jpg)\n",
        "height": 269.1476596638097,
        "width": 258.6301097938669
      },
      "id": "bb8b120c-e6e6-4cc5-bad2-84165b78e6f4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        760
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-01T14:21:25.482Z",
      "updatedAt": "2024-12-01T14:21:25.482Z",
      "id": "SIJWhQ43whBotfGd",
      "name": "Community Examples"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-18T03:47:24.000Z",
  "versionId": "5d3b13ad-2558-441c-8707-4c2cdccdf229"
}