agnathan/n8n-workflows/2024/12/rZkOsxLiC1CKjLsh.json
{
  "active": false,
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "DocumentGenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DocumentGenerator": {
      "main": [
        [
          {
            "node": "Sendy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-05T13:07:02.603Z",
  "id": "rZkOsxLiC1CKjLsh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AIC Member Onboarding to Sendy",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Meeting",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "condition": "gt",
              "keyValue": "NOW"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1020,
        320
      ],
      "id": "07351d8a-ed54-4718-bcfb-780e3c89031b",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "bX97yHQCD7Z1jFll",
          "name": "aicweb_prod"
        }
      }
    },
    {
      "parameters": {
        "template": "=<!doctype html><html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><title>Discount Light</title><!--[if !mso]><!-- --><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><!--<![endif]--><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style type=\"text/css\">#outlook a { padding:0; }\n          .ReadMsgBody { width:100%; }\n          .ExternalClass { width:100%; }\n          .ExternalClass * { line-height:100%; }\n          body { margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }\n          table, td { border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt; }\n          img { border:0;height:auto;line-height:100%; outline:none;text-decoration:none;-ms-interpolation-mode:bicubic; }\n          p { display:block;margin:13px 0; }</style><!--[if !mso]><!--><style type=\"text/css\">@media only screen and (max-width:480px) {\n            @-ms-viewport { width:320px; }\n            @viewport { width:320px; }\n          }</style><!--<![endif]--><!--[if mso]>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]--><!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]--><!--[if !mso]><!--><link href=\"https://fonts.googleapis.com/css?family=Lato\" rel=\"stylesheet\" type=\"text/css\"><style type=\"text/css\">@import url(https://fonts.googleapis.com/css?family=Lato);</style><!--<![endif]--><style type=\"text/css\">@media only screen and (min-width:480px) {\n        .mj-column-per-100 { width:100% !important; max-width: 100%; }\n.mj-column-per-30 { width:30% !important; max-width: 30%; }\n.mj-column-per-65 { width:65% !important; max-width: 65%; }\n.mj-column-per-70 { width:70% !important; max-width: 70%; }\n      }</style><style type=\"text/css\">@media only screen and (max-width:480px) {\n      table.full-width-mobile { width: 100% !important; }\n      td.full-width-mobile { width: auto !important; }\n    }</style></head><body style=\"background-color:#E7E7E7;\"><div style=\"display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\">Pre-header Text</div><div style=\"background-color:#E7E7E7;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:600px;\"><a href=\"https://alternativeinvestingclub.com\" target=\"_blank\"><img alt=\"\" height=\"auto\" src=\"https://alternativeinvestingclub.com/images/email-header.jpg\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"600\"></a></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-left:15px;padding-right:15px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:570px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-weight:bold;line-height:24px;text-align:center;color:#212b35;\">🔥 Alternative Investing Club Friday Speaker Event 🔥</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-top:20px;padding-bottom:20px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:32px;font-weight:bold;line-height:40px;text-align:center;color:#212b35;\">{{ $json.title }}</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-weight:bold;line-height:24px;text-align:center;color:#212b35;\">{{ new Date($json.date).toLocaleDateString(\"en-US\", { month: \"long\", day: \"numeric\", year: \"numeric\" });}}</div></td></tr><tr><td align=\"center\" vertical-align=\"middle\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\"><tr><td align=\"center\" bgcolor=\"#4f46e5\" role=\"presentation\" style=\"border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:#4f46e5;\" valign=\"middle\"><a href=\"https://alternativeinvestingclub.com/live\" style=\"background:#4f46e5;color:white;font-family:Lato;font-size:13px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;\" target=\"_blank\">REGISTER TO ATTEND</a></td></tr></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-left:15px;padding-right:15px;padding-top:2px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:570px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:20%;padding-left:20%;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:530px;\"><img alt=\"\" height=\"auto\" src=\"{{ $('Supabase').item.json.photourl }}\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"530\"></td></tr></tbody></table></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-top:20px;padding-bottom:20px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:18px;font-weight:bold;line-height:24px;text-align:center;color:#212b35;\">{{ $json.speaker }}{{ $('Supabase').item.json.speaker ? \"<br>\" + $('Supabase').item.json.speaker : \"\";}}</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#637381;\">Nada provides homeowners with immediate liquidity without the burden of additional debt or monthly payments. In exchange for this upfront cash, homeowners grant Nada a fraction of their home's future equity, which becomes the primary asset owned by Cityfunds. This creates opportunities for investors while providing liquidity to homeowners, fostering a mutually beneficial relationship to build and preserve wealth through home equity.</div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-left:15px;padding-right:15px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:570px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><!-- Introduction Paragraph --><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:10px;padding-left:25px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:24px;text-align:left;color:#212b35;\">AIC Is Sponsoring the Real Estate AI Summit</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-weight:bold;line-height:24px;text-align:center;color:#212b35;\">February 7-8th, 2025</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:15px;padding-left:25px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#212b35;\">The event will feature keynote speakers, panel discussions, and networking opportunities for attendees to connect with industry leaders and experts. Don't miss this opportunity to learn from the best and network with your peers. Register today to secure your spot at the Real Estate AI Summit!</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:15px;padding-left:25px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#212b35;\"><b>Admission is free!</b><br>If you choose to buy a VIP ticket the button below will give you 30% off.</div></td></tr><tr><td align=\"center\" vertical-align=\"middle\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\"><tr><td align=\"center\" bgcolor=\"#4f46e5\" role=\"presentation\" style=\"border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:#4f46e5;\" valign=\"middle\"><a href=\"https://realestateaisummit.com/?am_id=daniel\" style=\"background:#4f46e5;color:white;font-family:Lato;font-size:13px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;\" target=\"_blank\">Get Your Free Ticket Now / 30% Off VIP</a></td></tr></table></td></tr><tr><td align=\"center\" vertical-align=\"middle\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\"><tr><td align=\"center\" bgcolor=\"#4f46e5\" role=\"presentation\" style=\"border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:#4f46e5;\" valign=\"middle\"><a href=\"https://realestateaisummit.com/?am_id=daniel\" style=\"background:#4f46e5;color:white;font-family:Lato;font-size:13px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;\" target=\"_blank\">See the Speaker Lineup</a></td></tr></table></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:520px;\"><img height=\"auto\" src=\"https://images.leadconnectorhq.com/image/f_webp/q_80/r_1200/u_https://assets.cdn.filesafe.space/qAq9OAuuMmCeHUV1AWGr/media/672c793d9f961a5bfdccadce.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"520\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:5px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><![endif]--><!-- Introduction Paragraph --><!--[if mso | IE]><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:10px;padding-left:25px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:24px;text-align:left;color:#212b35;\">AIC Upcoming Speakers</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:15px;padding-left:25px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#212b35;\">The Alternative Investing Club is starting off strong in the new year. We will be interviewing the best of the best in the alternative investing space. Building a club where invesstors can see a variety of strategies and invest on their own terms or with the group in our <a href=\"https://alternativeinvestingclub.com/fund\">Alternative Investing Club Fund</a>.</div></td></tr></table></div><!--[if mso | IE]></td><![endif]--><!-- Fifth Speaker --><!--[if mso | IE]><td class=\"\" style=\"vertical-align:top;width:180px;\" ><![endif]--><div class=\"mj-column-per-30 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:130px;\"><img alt=\"Speaker Photo\" height=\"auto\" src=\"https://altweb-speakers.s3.us-west-2.amazonaws.com/2025-01-31_Rebekah-Taylor_-How-to-Fund-Rehabs-with-Hard-Money-Loans/profile_2025-01-31_Rebekah-Taylor_-How-to-Fund-Rehabs-with-Hard-Money-Loans.jpg\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"130\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:390px;\" ><![endif]--><div class=\"mj-column-per-65 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-top:30px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:24px;text-align:left;color:#000000;\"><mj-raw><svg color=\"#333333\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"20\" fill=\"none\" viewbox=\"0 0 24 20\"><path stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z\"/></svg></mj-raw>January 31, 2025</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;\"><b>Rebekah Taylor</b> <span font-size=\"14px\">from Taylored Investments</span></div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#000000;\">How to Fund Rehabs with Hard Money Loans</div></td></tr></table></div><!--[if mso | IE]></td><![endif]--><!-- First Speaker --><!--[if mso | IE]><td class=\"\" style=\"vertical-align:top;width:180px;\" ><![endif]--><div class=\"mj-column-per-30 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:130px;\"><img alt=\"Speaker Photo\" height=\"auto\" src=\"https://altweb-speakers.s3.us-west-2.amazonaws.com/2025-02-07_Tore-Steen_Home-Equity-Agreements-Investing-Directly-in-Owner-Occupied-Real-Estate/profile_2025-02-07_Tore-Steen_Home-Equity-Agreements-Investing-Directly-in-Owner-Occupied-Real-Estate.jpg\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"130\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:390px;\" ><![endif]--><div class=\"mj-column-per-65 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-top:30px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:24px;text-align:left;color:#000000;\"><mj-raw><svg color=\"#333333\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"20\" fill=\"none\" viewbox=\"0 0 24 20\"><path stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z\"/></svg></mj-raw>February 7, 2025</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;\"><b>Tore C. Steen</b> <span font-size=\"14px\">from Nada Holdings</span></div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#000000;\">Home Equity Agreements: Investing directly into owner-occupied Real Estate</div></td></tr></table></div><!--[if mso | IE]></td><![endif]--><!-- Second Speaker --><!--[if mso | IE]><td class=\"\" style=\"vertical-align:top;width:180px;\" ><![endif]--><div class=\"mj-column-per-30 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:130px;\"><img alt=\"Speaker Photo\" height=\"auto\" src=\"https://altweb-speakers.s3.us-west-2.amazonaws.com/2025-02-14_Catherine-Bell_Account-Receivable-Funds-Diversifying-for-Stability-and-Growth-in-Uncertain-Times/profile_2025-02-14_Catherine-Bell_Account-Receivable-Funds-Diversifying-for-Stability-and-Growth-in-Uncertain-Times.jpg\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"130\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:390px;\" ><![endif]--><div class=\"mj-column-per-65 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-top:35px;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:bold;line-height:24px;text-align:left;color:#000000;\"><mj-raw><svg color=\"#333333\" aria-hidden=\"true\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"20\" fill=\"none\" viewbox=\"0 0 24 20\"><path stroke=\"currentColor\" stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z\"/></svg></mj-raw>February 14, 2025</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#000000;\"><b>Catherine Bell</b> <span font-size=\"14px\">from Titan Impact Group</span></div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#000000;\">Diversifying for Stability and Growth in Uncertain Times</div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-left:15px;padding-right:15px;padding-top:10px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:570px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#212b35;\">Visit Our Speaker Hall of Fame</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#637381;\">We recording all of our past Friday meetings on the <a href=\"https://alternativeinvestingclub.com/speakers\">Speaker Hall of Fame</a> Page on the <a href=\"https://alternativeinvestingclub.com\">Alternative Investing Club</a> website. Feel free to browse and learn. Becoming a smarter investor is free!</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:0%;padding-left:2%;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:568px;\"><a href=\"https://alternativeinvestingclub.com/speakers\" target=\"_blank\"><img alt=\"\" height=\"auto\" src=\"https://alternativeinvestingclub.com/images/aic-speakers-hall-of-fame-light.jpg\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"568\"></a></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"body-section-outlook\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div class=\"body-section\" style=\"-webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); Margin: 0px auto; max-width: 600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0;padding-top:0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-left:15px;padding-right:15px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:171px;\" ><![endif]--><div class=\"mj-column-per-30 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:171px;\"><img alt=\"Daniel Holmlund\" height=\"auto\" src=\"https://altweb-speakers.s3.us-west-2.amazonaws.com/2022-11-04_Daniel-Holmlund_Investing-Strategies-for-Rising-Interest-Rates/profile_2022-11-04_Daniel-Holmlund_Investing-Strategies-for-Rising-Interest-Rates.jpg\" style=\"border:0;border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"171\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td><td class=\"\" style=\"vertical-align:top;width:399px;\" ><![endif]--><div class=\"mj-column-per-70 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-left:15px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:20px;font-style:italic;font-weight:bold;line-height:20px;text-align:left;color:#212b35;\">Daniel Holmlund</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-bottom:10px;padding-left:15px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:16px;font-style:italic;font-weight:bold;line-height:20px;text-align:left;color:#212b35;\">Founder of the Alternative Investing Club</div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-left:15px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:14px;font-style:italic;font-weight:400;line-height:20px;text-align:left;color:#212b35;\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"14\" height=\"14\" viewbox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><rect x=\"3\" y=\"5\" width=\"18\" height=\"14\" rx=\"2\" ry=\"2\"/><path d=\"M3 7l9 6 9-6\"/></svg> <a href=\"https://alternativeinvestingclub.com\" class=\"text-link\" style=\"color: #5e6ebf;\">daniel@alternativeinvestingclub.com</a></div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-left:15px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:14px;font-style:italic;font-weight:400;line-height:20px;text-align:left;color:#212b35;\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"14\" height=\"14\" viewbox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><!-- Globe --><circle cx=\"12\" cy=\"12\" r=\"10\"/><path d=\"M2 12h20\"/><path d=\"M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z\"/></svg> <a href=\"https://alternativeinvestingclub.com\" class=\"text-link\" style=\"color: #5e6ebf;\">Alternative Investing Club</a></div></td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-left:15px;word-break:break-word;\"><div style=\"font-family:Lato;font-size:14px;font-style:italic;font-weight:400;line-height:20px;text-align:left;color:#212b35;\"><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"14\" height=\"14\" viewbox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M22 16.92v3a2 2 0 0 1-2.18 2 19.86 19.86 0 0 1-8.63-3.45 19.5 19.5 0 0 1-6-6A19.86 19.86 0 0 1 2.09 4.18 2 2 0 0 1 4 2h3a2 2 0 0 1 2 1.72 12.44 12.44 0 0 0 .71 2.81 2 2 0 0 1-.45 2.11l-1.27 1.27a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.44 12.44 0 0 0 2.81.7A2 2 0 0 1 22 16.92z\"/></svg> <a href=\"https://alternativeinvestingclub.com\" class=\"text-link\" style=\"color: #5e6ebf;\">Schedule a Call with Me</a></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" width=\"600px\" ><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:600px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\"><tbody><tr><td style=\"vertical-align:top;padding:0;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" ><tr><td><![endif]--><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tr><td style=\"padding:4px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#A1A0A0;border-radius:3px;width:30px;\"><tr><td style=\"font-size:0;height:30px;vertical-align:middle;width:30px;\"><a href=\"https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/groups/1455024964841058\" target=\"_blank\"><img height=\"30\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/facebook.png\" style=\"border-radius:3px;\" width=\"30\"></a></td></tr></table></td></tr></table><!--[if mso | IE]></td><td><![endif]--><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><!-- <mj-social-element name=\"twitter\" href=\"https://mjml.io/\" background-color=\"#A1A0A0\">\n            </mj-social-element> --></table><!--[if mso | IE]></td><td><![endif]--><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tr><td style=\"padding:4px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#A1A0A0;border-radius:3px;width:30px;\"><tr><td style=\"font-size:0;height:30px;vertical-align:middle;width:30px;\"><a href=\"https://www.linkedin.com/shareArticle?mini=true&url=https://www.linkedin.com/company/alternativeinvestingclub/&title=&summary=&source=\" target=\"_blank\"><img height=\"30\" src=\"https://www.mailjet.com/images/theme/v1/icons/ico-social/linkedin.png\" style=\"border-radius:3px;\" width=\"30\"></a></td></tr></table></td></tr></table><!--[if mso | IE]></td></tr></table><![endif]--></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:400;line-height:16px;text-align:center;color:#445566;\">You are receiving this email advertisement because you registered with Alternative Investing Club LLC. (30 N Gould St Ste R, Sheridan, WY 82801) and agreed to receive emails from us.</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:400;line-height:16px;text-align:center;color:#445566;\">[unsubscribe]</div></td></tr><tr><td align=\"center\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Lato,'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:11px;font-weight:400;line-height:16px;text-align:center;color:#445566;\">No communication from Alternative Investing Club, LLC, or any of its affiliates (collectively, *\"Alternative Investing Club\"*), whether via email or any other medium, should be considered a recommendation to buy, sell, or hold any security, nor should it be regarded as investment, tax, financial, accounting, legal, regulatory, or compliance advice. Securities will not be offered or sold without the appropriate delivery of confidential offering documents, definitive agreements, and related materials. Historical performance, expected or target returns, and sensitivity analyses are not indicative of future outcomes and do not guarantee future results. Any projections provided are for illustrative purposes only. All securities carry risk and may result in substantial loss.</div></td></tr></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div></body></html>"
      },
      "type": "n8n-nodes-document-generator.documentGenerator",
      "typeVersion": 1,
      "position": [
        1220,
        320
      ],
      "id": "d30be165-8d5c-4c68-801f-c6e78d5a17e4",
      "name": "DocumentGenerator"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        820,
        320
      ],
      "id": "94718a2f-ad42-417e-aa1e-d0770fddd481",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "campaign",
        "fromName": "Daniel Holmlund",
        "fromEmail": "daniel@alternativeinvestingclub.com",
        "replyTo": "daniel@alternativeinvestingclub.com",
        "title": "=Alternative Investing Club: {{ $('Supabase').item.json.title }}",
        "subject": "=Alternative Investing Club: {{ $('Supabase').item.json.title }}",
        "htmlText": "={{ $json.text }}",
        "brandId": "1",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendy",
      "typeVersion": 1,
      "position": [
        1420,
        320
      ],
      "id": "223016ff-220f-4fb1-8254-2033011dc030",
      "name": "Sendy",
      "credentials": {
        "sendyApi": {
          "id": "SYANw9t0tdE0UIKF",
          "name": "Sendy account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-05T14:43:34.278Z",
      "updatedAt": "2024-12-05T14:43:34.278Z",
      "id": "YWL3bc4oYdzguiTJ",
      "name": "Production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-28T16:51:32.000Z",
  "versionId": "ca60315e-671b-4efa-82b5-a342ed168f9c"
}