agnathan/n8n-workflows/2024/12/uFMNH2X0mNyNhMnw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get all LinkedIn contributions from database NocoDB (GetRows)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflow Input Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get advice articles from a Google search": {
      "main": [
        [
          {
            "node": "Extract Article links for LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger Every Monday, @ 08:00am": {
      "main": [
        [
          {
            "node": "Get all LinkedIn contributions from database NocoDB (GetRows)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflow Input Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request to get LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "HTML extract LinkedIn article & other users contributions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data and keep unique google search results": {
      "main": [
        [
          {
            "node": "HTTP Request to get LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to Slack channel": {
      "main": [
        []
      ]
    },
    "Split Out all links for LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "Merge data and keep unique google search results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Article links for LinkedIn advice articles": {
      "main": [
        [
          {
            "node": "Split Out all links for LinkedIn advice articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all LinkedIn contributions from database NocoDB (GetRows)": {
      "main": [
        [
          {
            "node": "Merge data and keep unique google search results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML extract LinkedIn article & other users contributions": {
      "main": [
        [
          {
            "node": "LinkedIn Contribution Writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "X (Twitter) Contribution Writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Contribution Writer",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Contribution Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Contribution Writer": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to NocoDB (CreateRows)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Topic": {
      "main": [
        [
          {
            "node": "Get advice articles from a Google search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish on LinkedIn": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to Slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to Slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to Slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to Slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Contribution Writer": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to NocoDB (CreateRows)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Contribution Writer": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to NocoDB (CreateRows)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X (Twitter) Contribution Writer": {
      "main": [
        [
          {
            "node": "Post new LinkedIn contributions to NocoDB (CreateRows)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to NocoDB (CreateRows)": {
      "main": [
        [
          {
            "node": "Publish on LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to NocoDB (CreateRows)2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to NocoDB (CreateRows)3": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post new LinkedIn contributions to NocoDB (CreateRows)1": {
      "main": [
        [
          {
            "node": "X",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-11T00:21:14.353Z",
  "id": "uFMNH2X0mNyNhMnw",
  "isArchived": false,
  "meta": null,
  "name": "LinkedIn Top Voice Advice Writer",
  "nodes": [
    {
      "parameters": {
        "url": "=https://www.google.com/search?q=site%3Alinkedin.com%2Fadvice+{{ $json.Topic }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25
            }
          }
        }
      },
      "id": "a2d7d17a-2d17-44f3-84ad-ed2b5b0a7c5e",
      "name": "Get advice articles from a Google search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2060,
        1440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "\n# Research\n\n## 1. Perform a Google Search for LinkedIn Advice Articles\nExecutes an HTTP request to perform a Google search using a predefined query to find articles offering LinkedIn advice.\n\n## 2. Extract LinkedIn Advice Article Links\nUses a regular expression to extract LinkedIn-related article URLs from the Google search results. This step filters and pulls all relevant article links.\n\n## 3. Break Down Extracted Links\nDivides the list of extracted LinkedIn advice article URLs into individual entries, enabling each article to be processed separately in subsequent steps.\n\n",
        "height": 607,
        "width": 622,
        "color": 2
      },
      "id": "1a005b63-5775-4b5d-9358-eeaa48f07ecc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        1020
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "809b0570-df0f-46a9-a7d3-fdaceed7edb1",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        620,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "URL",
              "field2": "matches"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "a4d332d9-8fe8-4aff-9f8f-6f88a7c83601",
      "name": "Merge data and keep unique google search results",
      "type": "n8n-nodes-base.merge",
      "position": [
        2920,
        600
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node script\nconst text = $('Get advice articles from a Google search').data\n\nconsole.log(text)\n// // Define the regex pattern\n// const regexPattern = /https:\\/\\/www\\.linkedin\\.com\\/advice\\/[^%&\\s\"']+/g;\n\n// // Execute the regex pattern on the text\n// const matches = text.match(regexPattern);\n\n// // Output the matches\n// return {\n//   matches: matches || []\n// };\n\n"
      },
      "id": "eeeaf747-7cf4-4bd7-92e3-8c73096a0e21",
      "name": "Extract Article links for LinkedIn advice articles",
      "type": "n8n-nodes-base.code",
      "position": [
        2260,
        1440
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "matches",
        "options": {}
      },
      "id": "e4b396d4-4c06-419f-923a-8460c3353fb8",
      "name": "Split Out all links for LinkedIn advice articles",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2460,
        1440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "69887805-1e6d-48c2-b676-a0a32c48d1ea",
      "name": "Schedule Trigger Every Monday, @ 08:00am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        620,
        400
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w0dgkv8w",
        "projectId": "p5ttha2qnhsdymd",
        "table": "mobczt19cajtnmm",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Post Title",
              "fieldValue": "={{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}"
            },
            {
              "fieldName": "URL",
              "fieldValue": "={{ $('Merge data and keep unique google search results').item.json.matches }}"
            },
            {
              "fieldName": "Contribution",
              "fieldValue": "={{ $('LinkedIn Contribution Writer').item.json.message.content }}"
            },
            {
              "fieldName": "Topic",
              "fieldValue": "Lead Generation"
            },
            {
              "fieldName": "Person",
              "fieldValue": "Cassie"
            }
          ]
        }
      },
      "id": "2b7105bf-b364-4fd4-98aa-bdf5d20a0c3f",
      "name": "Post new LinkedIn contributions to NocoDB (CreateRows)",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        4540,
        880
      ],
      "typeVersion": 3,
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C084407RW7M",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=↓ 📝 ARTICLE:\n{{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}\n{{ $('Merge data and keep unique google search results').item.json.matches }}\n\n↓ 💡 ADVICE:\n{{ $json.output }}\n------------------------------------------------------",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true,
          "unfurl_links": true
        }
      },
      "id": "d91a8bf4-88ce-461e-8265-157ef772c9bf",
      "name": "Post new LinkedIn contributions to Slack channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        5940,
        1240
      ],
      "typeVersion": 2.2,
      "webhookId": "3899d822-94fe-4f25-ab04-8e3e7f66dd8d",
      "credentials": {
        "slackApi": {
          "id": "sqZE51AkSy0bWsNt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w0dgkv8w",
        "projectId": "p5ttha2qnhsdymd",
        "table": "mobczt19cajtnmm",
        "returnAll": true,
        "options": {}
      },
      "id": "2801dee3-eef8-4279-935f-b2e2ee6c4941",
      "name": "Get all LinkedIn contributions from database NocoDB (GetRows)",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        2240,
        700
      ],
      "typeVersion": 3,
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "ArticleTitle",
              "cssSelector": ".pulse-title"
            },
            {
              "key": "ArticleTopics",
              "cssSelector": ".article-main__content"
            },
            {
              "key": "ArticleContributions",
              "cssSelector": ".contribution__text"
            }
          ]
        },
        "options": {}
      },
      "id": "c6aead0f-e4d2-4549-8464-db355049ae35",
      "name": "HTML extract LinkedIn article & other users contributions",
      "type": "n8n-nodes-base.html",
      "position": [
        3380,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.matches }}",
        "options": {}
      },
      "id": "bfa1eb73-debf-4de8-a11a-78447355641a",
      "name": "HTTP Request to get LinkedIn advice articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3160,
        600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Workflow Actions\n### Trigger Schedule: Weekly on Mondays\nThe workflow is automatically initiated every Monday at 8:00 AM.\n\n1. **`Search for LinkedIn Advice Articles`**\nExecutes a predefined Google search URL to find the latest LinkedIn advice articles related to the user's expertise.\n\n2. **`Extract Article Links`**\nA code node processes the search results and extracts all LinkedIn advice article links.\n\n3. **`Retrieve Article Details`**\nFor each link, the workflow fetches the HTML content and extracts key information such as the article title, topics, and existing advice.\n\n4. **`Generate AI-Powered Insights`**\nSends the article content to an AI model, which creates unique and valuable advice for each identified topic within the articles.\n\n5. **`Distribute & Store Results`**\nPosts the AI-generated insights and article links to a designated Slack channel and saves them in a Knowledge base for future use.",
        "height": 754,
        "width": 367,
        "color": 5
      },
      "id": "56316265-802e-410d-9427-4d44dd4243d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Setup\n\n1. **Google Search URL**  \n   Update the Google search URL with a relevant LinkedIn advice query for your field (e.g., `site:linkedin.com/advice \"marketing automation\"`).\n\n2. **Slack Integration**  \n   Connect your Slack account and specify the Slack channel where the contributions should be posted.\n\n3. **NocoDB Integration**  \n   Configure your NocoDB project to store the generated contributions along with article titles and links.\n",
        "height": 370,
        "width": 366,
        "color": 5
      },
      "id": "23ce183b-547f-46f5-8955-7f7f72ed82cd",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        660
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# LinkedIn Top Voice Advice Writer\nCreated by [Grow Your Business with AI](http://GrowYourBusinesswithAI.com)\n\nThis process assists users in sustaining a steady LinkedIn presence by automating the discovery of new advice articles and creating original contributions through AI. It's perfect for professionals aiming to consistently engage with LinkedIn content without investing excessive time in manual search and drafting.",
        "height": 1238,
        "width": 832,
        "color": 5
      },
      "id": "96d98537-4bdd-4c2d-a1e4-1108042727dd",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## How to Customize This Workflow\n\n- **Change Search Terms**: Update the Google search URL to target a specific LinkedIn topic or area of expertise.\n- **Adjust Trigger Frequency**: Currently set to run weekly, the schedule trigger can be modified to fit your preferred frequency.\n- **Enhance Contribution Quality**: Tailor the AI model's prompt to ensure generated content aligns with your brand voice and content strategy.",
        "height": 130,
        "width": 761,
        "color": 5
      },
      "id": "dcbc3127-c3ba-4957-acaa-d78f9be1f2c5",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n# Knowledge Base Retrieval\n\n\n## Get all LinkedIn contributions from database NocoDB (GetRows)\nThis node retrieves all LinkedIn contributions stored in a specified NocoDB table. It performs a \"getAll\" operation to fetch all rows from the",
        "height": 523,
        "width": 619,
        "color": 2
      },
      "id": "baeb5c61-fffc-4c7d-936a-dbaf5be2e63c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Data Parsing\n\n## The content of LinkedIn articles URLs are, deduplicated and retrieved\n\n## 1. HTTP Request to Get LinkedIn Advice Articles\nSends an HTTP request to retrieve the HTML content of each LinkedIn article link. This node fetches the actual web page content from LinkedIn articles.\n\n## 2. HTML Extract LinkedIn Article & Other Users' Contributions\nThis node extracts relevant information from the HTML of LinkedIn articles, including the article title, topics discussed, and contributions made by other users.\n",
        "height": 967,
        "width": 813,
        "color": 7
      },
      "id": "96d10492-ff6f-47c7-93bf-0358eeca49a2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2800,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Workflow Audit Log\n\n## Detailed and user-friendly audit log template that tracks all activities, updates, and changes within a workflow system. The log must be clear, concise, and structured, including fields for timestamps, user IDs, actions performed, affected records, and relevant notes. Ensure the design is intuitive for users, compliant with industry regulations, and optimized for easy filtering and reporting. The purpose is to enhance accountability, improve traceability, and support audits or investigations when needed.",
        "height": 1892,
        "width": 602,
        "color": 3
      },
      "id": "8c9ecb72-0dd9-4c63-9d82-90aaa19b876e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5700,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Human Touch Point\n\n## All AI generated content is written back the knowledge base and a flag is set that it is ready for human editing and review",
        "height": 1810,
        "width": 521,
        "color": 4
      },
      "id": "be21cd1b-a83b-4479-9c45-1fe0d0cde5db",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4360,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# LinkedIn Advice \n# Summarizer\n\n\n## Adopt the role of a LinkedIn Top Voice Advice Writer specializing in providing actionable and inspiring career and personal development advice. Your task is to craft a concise, engaging post for LinkedIn that captures attention, sparks meaningful conversation, and offers value to professionals across industries. Write in a tone that is authentic, motivational, and approachable, ensuring the content resonates with LinkedIn's diverse professional audience. Focus on addressing common career challenges or life lessons while offering practical, relatable solutions. The content must be grammatically flawless, aligned with LinkedIn's professional ethos, and optimized to drive likes, shares, and thoughtful comments.\n",
        "height": 1788,
        "width": 549,
        "color": 6
      },
      "id": "18bb21fc-0d09-4e3c-855f-080c9cf81f24",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3700,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Workflow Inputs\n\n\n\n## Advice Topic - Set the topic for the types of articles that you want the workflow to search out.",
        "height": 539,
        "width": 721,
        "color": 4
      },
      "id": "0a47ae84-9053-48ef-993b-baa300de8bf1",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Instructions\nRead the following collaborative article and provide your own helpful collaboration. The article has various topics that each need to be answered. Write me a paragraph of helpful advice for each topic and format your response as outlined in the template below.\n\n-------------\nARTICLE TITLE  \n{{ $json.ArticleTitle }}\n\nTOPICS WITHIN THE LINKEDIN ARTICLE:  \n{{ $json.ArticleTopics }}\n\nOTHER CONTRIBUTIONS TO THE LINKEDIN ARTICLE:  \n{{ $json.ArticleContributions }}\n-------------\n\nYour advice must be unique and something that no one else has recommended before on the article, or in any of the topics. The response needs to be raw and genuine to elicit conversation and engagement.\n\nFormat your output in text and follow the template below. Only populate the template with as many topics as were provided in the original request \n\ni.e: if there were only 4 topics in the original request then only provide 4 pieces of advice:\n\n### Output Template\n\n1. [Article #1 Topic]  \n[Topic Advice]\n\n2. [Article #2 Topic]  \n[Topic Advice]\n\n3. [Article #3 Topic]  \n[Topic Advice]\n\n4. [Article #4 Topic]  \n[Topic Advice]\n\n5. [Article #5 Topic]  \n[Topic Advice]\n\n6. [Article #6 Topic]  \n[Topic Advice]\n"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "b629db66-15d6-4bbc-9665-3394444e1993",
      "name": "LinkedIn Contribution Writer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3840,
        940
      ],
      "typeVersion": 1.4,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Research Advice Articles\n\nAdvice articles are found in two ways:\n\n1. Perform a Google Search and find articles that match a topic\n2. The User can add links to articles directly to the Storage",
        "height": 1540,
        "width": 780,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        120
      ],
      "id": "b0aa6563-00b9-4cc8-a3c6-aa4f45a3a3f6",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "![Grow Your Business With AI Logo](https://aicf-email-resources.s3.us-west-2.amazonaws.com/logo5.jpg)",
        "height": 360,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        280
      ],
      "id": "ad343609-97a2-490c-96f3-37d865e9b338",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "![Database](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/knowledgebase.webp)",
        "height": 180,
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2600,
        40
      ],
      "id": "9aa3be64-4669-40bf-a72d-9de1236de405",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "![Research](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/research.webp)",
        "height": 180,
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2540,
        920
      ],
      "id": "20f5e682-6400-4d2e-8955-e40a348cc9a3",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "![Database](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/workflow-input.webp)",
        "height": 180,
        "width": 160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        40
      ],
      "id": "ae7cdaab-49d5-4eae-a21b-2254246a9380",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf3ef4d0-2688-4fe1-9801-a8519bd293f7",
              "name": "Topic",
              "type": "string",
              "value": "Investing in Syndications"
            }
          ]
        },
        "options": {}
      },
      "id": "6eb2d16f-1767-44de-9f4c-97a3862bb664",
      "name": "Workflow Input Topic",
      "type": "n8n-nodes-base.set",
      "position": [
        1380,
        400
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "![Data Parsing](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/Data+Parsing.webp)",
        "height": 180,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3500,
        40
      ],
      "id": "8b90d72a-ed1c-4895-892a-a29a5c613772",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "![Data Parsing](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/ai.webp)",
        "height": 180,
        "width": 160,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4140,
        40
      ],
      "id": "c6014dd4-0e6a-4b70-b9a6-b50b92959044",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "![Data Parsing](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/audit.webp)",
        "height": 180,
        "width": 160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6200,
        20
      ],
      "id": "2c41e6bc-10d1-4a1b-a43d-8d92a0b622d0",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "![Data Parsing](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/person.webp)",
        "height": 180,
        "width": 160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4800,
        20
      ],
      "id": "ac212bf4-c05c-458b-81f2-879234608599",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Triggers",
        "height": 1000,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        120
      ],
      "id": "c07f9819-8392-4add-8cf8-47f7c61f57e9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "![Database](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/trigger.webp)",
        "height": 180,
        "width": 160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        40
      ],
      "id": "a842aee3-61e8-41fe-a3c6-59c8bcf7c4b3",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "person": "CcS-_lLyzG",
        "text": "={{ $json.formattedText }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "id": "ddc09ccd-f5b8-404d-879c-7da227659d31",
      "name": "Publish on LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        5260,
        880
      ],
      "typeVersion": 1,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "xRDEDUl1Pqg60kBr",
          "name": "LinkedIn AIC Company Page"
        }
      }
    },
    {
      "parameters": {
        "text": "Test",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        5260,
        1200
      ],
      "id": "35fbb777-8b9a-46e3-af29-9be5c60e9053",
      "name": "X",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "gnP4W43zIPbVci3B",
          "name": "AltInvestClub"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        5260,
        1460
      ],
      "id": "7adb9d4b-10c7-4c46-a885-211e83e90f36",
      "name": "Facebook Graph API"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        5260,
        1700
      ],
      "id": "fb672fe6-9689-4ba9-adc2-414d4cea8273",
      "name": "WhatsApp Business Cloud"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Instructions\nRead the following collaborative article and provide your own helpful collaboration. The article has various topics that each need to be answered. Write me a paragraph of helpful advice for each topic and format your response as outlined in the template below.\n\n-------------\nARTICLE TITLE  \n{{ $json.ArticleTitle }}\n\nTOPICS WITHIN THE LINKEDIN ARTICLE:  \n{{ $json.ArticleTopics }}\n\nOTHER CONTRIBUTIONS TO THE LINKEDIN ARTICLE:  \n{{ $json.ArticleContributions }}\n-------------\n\nYour advice must be unique and something that no one else has recommended before on the article, or in any of the topics. The response needs to be raw and genuine to elicit conversation and engagement.\n\nFormat your output in text and follow the template below. Only populate the template with as many topics as were provided in the original request \n\ni.e: if there were only 4 topics in the original request then only provide 4 pieces of advice:\n\n### Output Template\n\n1. [Article #1 Topic]  \n[Topic Advice]\n\n2. [Article #2 Topic]  \n[Topic Advice]\n\n3. [Article #3 Topic]  \n[Topic Advice]\n\n4. [Article #4 Topic]  \n[Topic Advice]\n\n5. [Article #5 Topic]  \n[Topic Advice]\n\n6. [Article #6 Topic]  \n[Topic Advice]\n"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "c0a94a98-b767-419e-b1f0-abe80a822557",
      "name": "X (Twitter) Contribution Writer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3840,
        1180
      ],
      "typeVersion": 1.4,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Instructions\nRead the following collaborative article and provide your own helpful collaboration. The article has various topics that each need to be answered. Write me a paragraph of helpful advice for each topic and format your response as outlined in the template below.\n\n-------------\nARTICLE TITLE  \n{{ $json.ArticleTitle }}\n\nTOPICS WITHIN THE LINKEDIN ARTICLE:  \n{{ $json.ArticleTopics }}\n\nOTHER CONTRIBUTIONS TO THE LINKEDIN ARTICLE:  \n{{ $json.ArticleContributions }}\n-------------\n\nYour advice must be unique and something that no one else has recommended before on the article, or in any of the topics. The response needs to be raw and genuine to elicit conversation and engagement.\n\nFormat your output in text and follow the template below. Only populate the template with as many topics as were provided in the original request \n\ni.e: if there were only 4 topics in the original request then only provide 4 pieces of advice:\n\n### Output Template\n\n1. [Article #1 Topic]  \n[Topic Advice]\n\n2. [Article #2 Topic]  \n[Topic Advice]\n\n3. [Article #3 Topic]  \n[Topic Advice]\n\n4. [Article #4 Topic]  \n[Topic Advice]\n\n5. [Article #5 Topic]  \n[Topic Advice]\n\n6. [Article #6 Topic]  \n[Topic Advice]\n"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "fe880716-3a3a-4d96-9cd8-da19f6f7a06e",
      "name": "Facebook Contribution Writer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3840,
        1400
      ],
      "typeVersion": 1.4,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=# Instructions\nRead the following collaborative article and provide your own helpful collaboration. The article has various topics that each need to be answered. Write me a paragraph of helpful advice for each topic and format your response as outlined in the template below.\n\n-------------\nARTICLE TITLE  \n{{ $json.ArticleTitle }}\n\nTOPICS WITHIN THE LINKEDIN ARTICLE:  \n{{ $json.ArticleTopics }}\n\nOTHER CONTRIBUTIONS TO THE LINKEDIN ARTICLE:  \n{{ $json.ArticleContributions }}\n-------------\n\nYour advice must be unique and something that no one else has recommended before on the article, or in any of the topics. The response needs to be raw and genuine to elicit conversation and engagement.\n\nFormat your output in text and follow the template below. Only populate the template with as many topics as were provided in the original request \n\ni.e: if there were only 4 topics in the original request then only provide 4 pieces of advice:\n\n### Output Template\n\n1. [Article #1 Topic]  \n[Topic Advice]\n\n2. [Article #2 Topic]  \n[Topic Advice]\n\n3. [Article #3 Topic]  \n[Topic Advice]\n\n4. [Article #4 Topic]  \n[Topic Advice]\n\n5. [Article #5 Topic]  \n[Topic Advice]\n\n6. [Article #6 Topic]  \n[Topic Advice]\n"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "8ab01e71-c58c-4e08-9e8e-def940c80cdf",
      "name": "WhatsApp Contribution Writer",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3840,
        1640
      ],
      "typeVersion": 1.4,
      "credentials": {
        "openAiApi": {
          "id": "FXa5oPwfEyVR0oL0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w0dgkv8w",
        "projectId": "p5ttha2qnhsdymd",
        "table": "mobczt19cajtnmm",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Post Title",
              "fieldValue": "={{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}"
            },
            {
              "fieldName": "URL",
              "fieldValue": "={{ $('Merge data and keep unique google search results').item.json.matches }}"
            },
            {
              "fieldName": "Contribution",
              "fieldValue": "={{ $('LinkedIn Contribution Writer').item.json.message.content }}"
            },
            {
              "fieldName": "Topic",
              "fieldValue": "Lead Generation"
            },
            {
              "fieldName": "Person",
              "fieldValue": "Cassie"
            }
          ]
        }
      },
      "id": "73d63b91-29dc-4789-a1d5-eeb4d12ed543",
      "name": "Post new LinkedIn contributions to NocoDB (CreateRows)1",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        4540,
        1180
      ],
      "typeVersion": 3,
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w0dgkv8w",
        "projectId": "p5ttha2qnhsdymd",
        "table": "mobczt19cajtnmm",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Post Title",
              "fieldValue": "={{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}"
            },
            {
              "fieldName": "URL",
              "fieldValue": "={{ $('Merge data and keep unique google search results').item.json.matches }}"
            },
            {
              "fieldName": "Contribution",
              "fieldValue": "={{ $('LinkedIn Contribution Writer').item.json.message.content }}"
            },
            {
              "fieldName": "Topic",
              "fieldValue": "Lead Generation"
            },
            {
              "fieldName": "Person",
              "fieldValue": "Cassie"
            }
          ]
        }
      },
      "id": "6daad66f-a3f4-4b69-8675-912da3c88ec9",
      "name": "Post new LinkedIn contributions to NocoDB (CreateRows)2",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        4560,
        1660
      ],
      "typeVersion": 3,
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w0dgkv8w",
        "projectId": "p5ttha2qnhsdymd",
        "table": "mobczt19cajtnmm",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Post Title",
              "fieldValue": "={{ $('HTML extract LinkedIn article & other users contributions').item.json.ArticleTitle }}"
            },
            {
              "fieldName": "URL",
              "fieldValue": "={{ $('Merge data and keep unique google search results').item.json.matches }}"
            },
            {
              "fieldName": "Contribution",
              "fieldValue": "={{ $('LinkedIn Contribution Writer').item.json.message.content }}"
            },
            {
              "fieldName": "Topic",
              "fieldValue": "Lead Generation"
            },
            {
              "fieldName": "Person",
              "fieldValue": "Cassie"
            }
          ]
        }
      },
      "id": "0bff1ac8-9589-4369-af49-ce3dfde51c11",
      "name": "Post new LinkedIn contributions to NocoDB (CreateRows)3",
      "type": "n8n-nodes-base.nocoDb",
      "position": [
        4560,
        1400
      ],
      "typeVersion": 3,
      "credentials": {
        "nocoDbApiToken": {
          "id": "DahiteaxE7qHp5k3",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Post to Social Media\n\n## After the advice is customized for each platform and approved by a human then post it on social media",
        "height": 1900,
        "width": 560,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5000,
        120
      ],
      "id": "eeda8e0f-c01a-4c4c-b222-1f624745b44d",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "![Database](https://hosted-images-holmlund.s3.us-west-2.amazonaws.com/n8n/knowledgebase.webp)",
        "height": 180,
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5460,
        20
      ],
      "id": "786de5d2-ad4f-499c-8623-6b7cd6e7bf8d",
      "name": "Sticky Note20"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-12-11T00:21:14.384Z",
      "createdAt": "2024-12-11T00:21:14.384Z",
      "role": "workflow:owner",
      "workflowId": "uFMNH2X0mNyNhMnw",
      "projectId": "59BKPVOARQ8LBpzh"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-01-10T16:24:19.545Z",
      "createdAt": "2025-01-10T16:24:19.545Z",
      "id": "PmkwwqmTQbdBxTMs",
      "name": "Demo"
    },
    {
      "updatedAt": "2025-01-07T17:22:46.418Z",
      "createdAt": "2025-01-07T17:22:46.418Z",
      "id": "l6u1KHXEGv9kNYY1",
      "name": "GYBWAI"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-02-05T20:48:41.000Z",
  "versionId": "854ea083-500a-4cd8-a675-62168361e369"
}