agnathan/n8n-workflows/2024/12/X9npFOwksMOcSx2H.json
{
  "active": false,
  "connections": {
    "Mock Data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Data1": {
      "main": [
        []
      ]
    },
    "Mock Data2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Mock Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-12T16:27:39.546Z",
  "id": "X9npFOwksMOcSx2H",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "N8N Core Node Playground",
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "investor"
            }
          ]
        },
        "options": {
          "includeBinaries": false
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "182b1ee0-41b4-49e1-a4b1-c8f3c5d85798",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"name\": \"Daniel Holmlund\",\n  \"time\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -120
      ],
      "id": "9860efe3-5d4a-4fef-91cd-aa58752a790f",
      "name": "Mock Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"name\": \"Ethan Gao\",\n  \"email\": \"ethan@gaolaw.com\",\n  \"investor\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        120
      ],
      "id": "76c18eae-9aeb-4c93-b7bc-09693de4e474",
      "name": "Mock Data1"
    },
    {
      "parameters": {
        "content": "## Aggregate Testing",
        "height": 500,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -200
      ],
      "id": "5b340929-1244-4c29-89e1-fdc42c116ef9",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -520,
        460
      ],
      "id": "2be65a10-c575-4df2-afd1-206c92abc0eb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Aggregate Testing",
        "height": 500,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        360
      ],
      "id": "efcf6caa-fcbc-4f33-b8c2-df08307cf5e5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "[\n  {\n    \"name\": \"Daniel Holmlund\",\n    \"email\": \"daniel@alternativeinvestingclub.com\",\n    \"website\": \"www.alternativeinvestingclub.com\"\n  },\n   {\n    \"name\": \"Daniel Holmlund\",\n    \"email\": \"daniel@alternativeinvestingclub.com\",\n    \"website\": \"www.alternativeinvestingclub.com\"\n  },\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        540
      ],
      "id": "e113c186-54a6-4d71-b202-0a259a27e64f",
      "name": "Mock Data2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de1922ee-36ee-4f9e-90f3-58658df586f8",
              "name": "name",
              "value": "={{ $json.email.extractDomain() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        540
      ],
      "id": "a4dab187-cb6a-42b8-98d3-17569f3824e1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-12-12T16:27:39.552Z",
      "updatedAt": "2024-12-12T16:27:39.552Z",
      "role": "workflow:owner",
      "workflowId": "X9npFOwksMOcSx2H",
      "projectId": "59BKPVOARQ8LBpzh"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-24T01:22:07.000Z",
  "versionId": "f59a4630-02ec-4fd4-8816-b445d48b9310"
}