agnathan/n8n-workflows/2025/01/kJPDGbmpsA3ezCmH.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Insert Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve by Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Documents",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Customize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Insertion": {
      "ai_embedding": [
        [
          {
            "node": "Insert Documents",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Retrieval": {
      "ai_embedding": [
        [
          {
            "node": "Retrieve by Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Upserting": {
      "ai_embedding": [
        [
          {
            "node": "Update Documents",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Placeholder (File/Content to Upsert)": {
      "main": [
        [
          {
            "node": "Update Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-08T23:51:27.925Z",
  "id": "kJPDGbmpsA3ezCmH",
  "isArchived": false,
  "meta": null,
  "name": "Supabase Playground",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "url",
          "value": "https://drive.google.com/file/d/xxxxxxxxxxxxxxx/view"
        },
        "options": {}
      },
      "id": "aa84ee3c-3a78-4308-a6b8-7d5803627f8f",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        160,
        880
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "epubLoader",
        "options": {}
      },
      "id": "3c3945af-8c21-41ba-a04c-a61cfcede22c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        580,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# INSERTING\n\n- it's important to use the same embedding model when for any interaction with your vector database (inserting, upserting and retrieval)",
        "height": 820.5109034066329,
        "width": 749.1276349295781
      },
      "id": "9e0f0b1e-681e-4dc4-8a45-f955364de28f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# UPSERTING\n",
        "height": 534.0012007720542,
        "width": 873.9739981925188,
        "color": 3
      },
      "id": "ba36ed1d-d26e-4292-b658-eccde08109be",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        1560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# PREPARATION (in Supabase)\n\n- your database needs the extension 'pgvector' enabled -> select Database > Extension > Search for 'vector'\n- make sure you have a table that has the following columns (if not, use the query below in the Supabase SQL Editor)\n\n```\nALTER TABLE \"YOUR TABLE NAME\"\nADD COLUMN embedding VECTOR(1536), // check which number of dimensions you need (depends on the embed model)\nADD COLUMN metadata JSONB,\nADD COLUMN content TEXT;\n```\n\n- make sure you have the right policies set -> select Authentication > Policies\n- make sure you have the custom function `match_documents` set up in Supabase -> This is needed for the Vector Store Node (as query name) \n(if not, use the query below in the Supabase SQL Editor to create that function)\n- make sure you check the size of the AI model as it should be the same vector size for the table \n(e.g. OpenAI's Text-Embedding-3-Small uses 1536)\n\n```\nCREATE OR REPLACE FUNCTION public.match_documents(\n  filter JSONB,\n  match_count INT,\n  query_embedding VECTOR(1536) // should match same dimensions as from insertion\n)\nRETURNS TABLE (\n  id BIGINT,\n  content TEXT,\n  metadata JSONB,\n  embedding VECTOR(1536), // should match same dimensions as from insertion\n  similarity FLOAT\n)\nLANGUAGE plpgsql AS $$\nBEGIN\n  RETURN QUERY\n  SELECT\n    v.id,\n    v.content,\n    v.metadata,\n    v.embedding,\n    1 - (v.embedding <=> match_documents.query_embedding) AS similarity\n  FROM \"YOUR TABLE NAME\" v\n  WHERE v.metadata @> filter\n  ORDER BY v.embedding <=> match_documents.query_embedding\n  LIMIT match_count;\nEND;\n$$\n;\n```\n",
        "height": 821.787041589866,
        "width": 876.5116990000852,
        "color": 4
      },
      "id": "9d59c3bd-436d-404a-a90a-bddbdca7dabc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# RETRIEVAL",
        "height": 821.9537074055816,
        "width": 810.9488123113013,
        "color": 5
      },
      "id": "383dfedf-01f1-445f-9c1e-1c9c3314e89b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f7824111-f89e-40c9-8d4a-bc7f2681f3bc",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        1140,
        860
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7226731e-aee8-4778-8b47-0f79cd7fce6e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1060,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "topK": 10
      },
      "id": "3e155d07-c22e-46cb-9bca-342745e31729",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        1220,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "07d510f8-ca63-44a0-8188-360516051a39",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        580,
        1260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "440fc115-ccae-4e30-85a5-501d0617b2cf",
              "name": "output",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cfaac57-928a-4ba5-9490-7748d226224c",
      "name": "Customize Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1480,
        860
      ],
      "notesInFlow": true,
      "typeVersion": 3.4,
      "notes": "output || text"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "=Hi there! 🙏\n\nYou can ask me anything about Venerable Geshe Kelsang Gyatso's Book - 'How To Transform Your Life'\n\nWhat would you like to know? ",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "id": "49c8a1ed-75c7-42de-952b-9263f0976cde",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        940,
        860
      ],
      "webhookId": "d7431c58-89aa-4d70-b5bd-044be981b3a9",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "Kadampa",
          "cachedResultName": "Kadampa"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "b8ba0053-c4a3-4930-85e1-919a52edbe2c",
      "name": "Retrieve by Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        1160,
        1200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ee46d9bb-963e-417a-9739-f3dc36fcf6dd",
      "name": "Embeddings OpenAI Retrieval",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1160,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "583ec61e-76c0-4f7e-97ed-423248fb2347",
      "name": "Embeddings OpenAI Insertion",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        380,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Date\": \"{{ $now.format('dd MMM yyyy') }}\",\n  \"Time\": \"{{ $now.format('HH:mm ZZZZ z') }}\"\n}\n",
        "options": {}
      },
      "id": "cda25950-323e-48b6-b35b-e66a8d58e2fd",
      "name": "Placeholder (File/Content to Upsert)",
      "type": "n8n-nodes-base.set",
      "position": [
        -640,
        1720
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "6aae0e81-b8a8-4418-bf88-612a5a51f7d9",
      "name": "Embeddings OpenAI Upserting",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -420,
        1880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "Kadampa",
          "cachedResultName": "Kadampa"
        },
        "options": {}
      },
      "id": "80149d5e-5132-47de-8ece-84fc765e713c",
      "name": "Insert Documents",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        380,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "n8n",
        "returnAll": true
      },
      "id": "55750959-77b3-4104-8321-a3f9cdfb1e11",
      "name": "Retrieve Rows from Table",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1420,
        1340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# DELETION\n\nAt the moment n8n does not have a built-in Supabase Node to delete records in a Vector Database. For this you would typically use the HTTP Request node to make an authorized API call to Supabase. \n\n## HTTP Request Node\n\nUse this node to send a DELETE request to your Supabase instance.\n\n- Supabase API Endpoint: Use the appropriate URL for your Supabase project. The endpoint will typically look like this: [https://<your-supabase-ref>.supabase.co/rest/v1/<your-vector-table>](https://supabase.com/docs/guides/api). Replace `<your-supabase-ref>` and `<your-vector-table>` with your details.\n### HEADERS:\n- apikey: Your Supabase API key.\n- Authorization: Bearer token with your Supabase JWT.\n- Query Parameters: Use query parameters to specify which record(s) to delete. For example, `?id=eq.<your-record-id>` where `<your-record-id>` is the specific record ID you want to delete \n(You can also reference back to the **Retrieve Rows From Table** Node to get the ID dynamically)\n\nEnsure you have the necessary permissions set up in Supabase to delete records through the API.\n\nPlease refer to the official n8n documentation for more detailed information on using the [HTTP Request Node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/).\n\n_Note:_ Deleting records is a sensitive operation, so make sure that your permissions are correctly configured and that you are targeting the correct records to avoid unwanted data loss.",
        "height": 537.3056597675153,
        "width": 1587.0771183771394,
        "color": 6
      },
      "id": "6f6c614c-a94e-42e3-9242-5c34c2410102",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        1560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "update",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "n8n",
          "cachedResultName": "n8n"
        },
        "id": "1",
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "141c7c4e-8397-4fef-9dab-619832a55c7a",
      "name": "Update Documents",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        -440,
        1720
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "agnathan",
  "repo_path": "agnathan/n8n-workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-01-08T23:51:27.928Z",
      "createdAt": "2025-01-08T23:51:27.928Z",
      "role": "workflow:owner",
      "workflowId": "kJPDGbmpsA3ezCmH",
      "projectId": "59BKPVOARQ8LBpzh"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2024-12-01T14:23:56.869Z",
      "createdAt": "2024-12-01T14:23:56.869Z",
      "id": "Paq9K6w31GZ583JD",
      "name": "My Drafts"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-08T23:51:38.000Z",
  "versionId": "63b54adf-3606-43d9-ad35-23752cfcb297"
}